<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/dl/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dl/css/style.min.css" rel="stylesheet"/>
    <link href="/dl/css/style-responsive.min.css" rel="stylesheet"/>
    <link href="/dl/css/fontawesome-all.min.css" rel="stylesheet"/>
    <link href="/dl/css/jquery-ui.min.css" rel="stylesheet"/>
    <link href="/dl/css/default.css" rel="stylesheet"/>
    <link href="/dl/css/smart_wizard.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/dl/css/imgareaselect-animated.css">
</head>

<body data-gr-c-s-loaded="true" class="  pace-done">
<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<!-- begin #page-loader -->
<div id="page-loader" class="fade show d-none"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed show has-scroll">

    <include file="Public:header"/>
    <include file="Public:sidebar"/>

    <!-- begin #content -->
    <div id="content" class="content" ng-app="app" ng-controller="controller">
        <include file="Public:modal_add_annotation" modal_title="Add Annotations"/>

        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item active">Evaluation</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Evaluation</h1>
        <!-- end page-header -->

        <!-- begin row -->
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-lg-4 ui-sortable">
                <div class="panel panel-inverse" data-sortable-id="form-stuff-2">
                    <!-- begin panel-heading -->
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Testing Dataset</h4>
                    </div>
                    <!-- end panel-heading -->
                    <!-- begin panel-body -->
                    <div class="panel-body bg-silver">
                        <form>
                            <div class="form-group row m-b-15">
                                <label class="col-sm-3 col-form-label">Weights</label>
                                <div class="col-sm-9">
                                    <select class="custom-select" ng-model="selected.weights">
                                        <option ng-repeat="weights in data.weights" value="{{weights.id}}">{{weights.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row m-b-15">
                                <label class="col-sm-3 col-form-label">Positives</label>
                                <div class="col-sm-9">
                                    <select class="custom-select" ng-model="selected.positives">
                                        <option ng-repeat="movie in data.movies" value="{{movie.id}}">{{movie.title}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row m-b-15">
                                <label class="col-sm-3 col-form-label">Negatives</label>
                                <div class="col-sm-9">
                                    <select class="custom-select" ng-model="selected.negatives">
                                        <option ng-repeat="movie in data.movies" value="{{movie.id}}">{{movie.title}}</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <button type="submit" class="btn btn-primary m-r-5 pull-right"
                                ng-show="selected.positives != null && selected.negatives != null"
                        ng-click="btn_go_click()">Go</button>
                    </div>
                    <!-- end panel-body -->
                </div>

                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="index-2">
                    <div class="panel-heading ui-sortable-handle">
                        <include file="Public:panel-heading-btn"/>
                        <h4 class="panel-title">Detect Results</h4>
                    </div>
                    <div class="panel-body bg-silver">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong class="float-left">Detect Results</strong>
                                <span class="float-right">{{testing_data.testing_data.length}}</span>

                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong class="float-left">TP (True Positive)</strong>
                                <span class="float-right">{{(testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong class="float-left">TN (True Negative)</strong>
                                <span class="float-right">{{(testing_data.testing_data|filter:{result_a:'True', result_b:'Negative'}).length }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong class="float-left">FP (False Positive)</strong>
                                <span class="float-right">{{(testing_data.testing_data|filter:{result_a:'False', result_b:'Positive'}).length }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong class="float-left">FN (False Negative)</strong>
                                <span class="float-right">{{(testing_data.testing_data|filter:{result_a:'False', result_b:'Negative'}).length }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong class="float-left">Precision</strong>
                                <span class="float-right">{{((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)/(((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)+((testing_data.testing_data|filter:{result_a:'False', result_b:'Positive'}).length))  | number:2}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong class="float-left">Recall</strong>
                                <span class="float-right">{{((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)/(((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)+((testing_data.testing_data|filter:{result_a:'False', result_b:'Negative'}).length)) | number:2}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong class="float-left">F1</strong>
                                <span class="float-right" id="f1">{{ 2*(((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)/(((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)+((testing_data.testing_data|filter:{result_a:'False', result_b:'Positive'}).length)))*(((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)/(((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)+((testing_data.testing_data|filter:{result_a:'False', result_b:'Negative'}).length)))/((((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)/(((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)+((testing_data.testing_data|filter:{result_a:'False', result_b:'Positive'}).length)))+(((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)/(((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)+((testing_data.testing_data|filter:{result_a:'False', result_b:'Negative'}).length)))) | number:2}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong class="text-center">mAP</strong>
                                <span class="float-right" id="map">{{mAP| number:2}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-primary">
                                <strong class="text-center">top-N</strong>
                                <strong class="float-right">Precision</strong>
                                <strong class="float-right">Recall</strong>
                                <!--<small class="float-right">Max Precision(r'>r)</small>-->
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                ng-repeat="annotation in testing_data.testing_data">
                                <strong class="float-left" ng-init="p_index=$index">{{p_index+1}}</strong>
                                <span class="float-right">{{(testing_data.testing_data| limitTo: p_index+1 |filter:{result_a:'True',result_b:'Positive'}).length}}/{{p_index+1}}</span>
                                <span class="float-right">{{(testing_data.testing_data| limitTo: p_index+1 |filter:{result_a:'True',result_b:'Positive'}).length}}/{{(testing_data.testing_data| filter:{class_id: testing_data.positive_class}).length}}</span>
                                <!--<span class="float-right"></span>-->
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end panel -->

            </div>
            <!-- end col-4 -->
            <!-- begin col-8 -->
            <div class="col-lg-8 ui-sortable">

                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading ui-sortable-handle">
                        <div class="panel-heading-btn">
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-default"
                               data-click="panel-expand" ng-click="reload_annotation()"><i class="fa fa-expand"></i></a>
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-success"
                               data-click="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-warning"
                               data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Results</h4>
                    </div>
                    <div class="panel-body bg-silver">
                        <div class="row">
                            <div class="col-md-4" ng-repeat="annotation in testing_data.testing_data">
                                <div id="card_{{annotation.frame_id}}" class="card mb-4 box-shadow">
                                    <img id="img_{{annotation.frame_id}}" class="card-img-top"
                                         imageonload="on_image_loaded(annotation)"
                                         ng-click="movie_click(annotation.id, $index)"
                                         style="display: block;"
                                         ng-src="/projects/{{annotation.movie_id}}/thumb_frame/{{annotation.movie_id}}_{{('00000'+annotation.frame_index).slice(-6)}}.JPEG">

                                    <div id="info_{{annotation.id}}" class="image-info pt-2 pl-2 pr-2 pb-2">
                                        <h5 class="title pull-right" ng-class="{true:'text-success', false:'text-danger'}[annotation.result_a == 'True']">{{annotation.result_a}} {{annotation.result_b}}</h5>
                                        <div class="desc">
                                            Class ID: {{annotation.class_id}}
                                        </div>
                                        <div class="desc" ng-show="annotation.detection.class_id >0">
                                            Detect Class ID: {{annotation.detection.class_id}}
                                        </div>
                                        <div class="desc"  ng-show="annotation.detection.confidence >0">
                                            Confidence: {{annotation.detection.confidence |number:2}}
                                        </div>
                                        <div class="desc"  ng-show="annotation.detection.iou >0">
                                            IOU: {{annotation.detection.iou | number:2}}
                                        </div>
                                    </div>
                                    <!--<div id="info_{{annotation.id}}" class="card-body pt-2 pl-2 pr-2 pb-2">-->
                                        <!--&lt;!&ndash; <small class="float-left">{{frame.time - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</small> &ndash;&gt;-->
                                        <!--&lt;!&ndash;<small class="btn-block">Time: {{(annotation.frame_index)*41.84 - 16*60*60*1000&ndash;&gt;-->
                                            <!--&lt;!&ndash;|&ndash;&gt;-->
                                            <!--&lt;!&ndash;date:'HH:mm:ss.sss'}}&ndash;&gt;-->
                                        <!--&lt;!&ndash;</small>&ndash;&gt;-->
                                        <!--<small class="btn-block">Class ID: {{annotation.class_id}}</small>-->
                                        <!--<small class="btn-block">Detect Class ID: {{annotation.detection.class_id}}-->
                                        <!--</small>-->
                                        <!--<small class="btn-block">Confidence: {{annotation.detection.confidence |-->
                                            <!--number:2}}-->
                                        <!--</small>-->
                                        <!--<small class="btn-block">IOU: {{annotation.detection.iou | number:2}}</small>-->
                                        <!--<small class="btn-block"-->
                                               <!--ng-class="{true:'text-success', false:'text-danger'}[annotation.result_a == 'True']">-->
                                            <!--Result: {{annotation.result_a}} {{annotation.result_b}}-->
                                        <!--</small>-->

                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
            </div>
        </div>
        <!-- end col-8 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
</div>
<!-- end page container -->

</body>
<script src="/dl/js/jquery-3.2.1.min.js"></script>
<script src="/dl/js/jquery-ui.min.js"></script>
<script src="/dl/bootstrap-4.0.0/dist/js/bootstrap.bundle.js"></script>
<script src="/dl/js/angular.min.js"></script>
<script src="/dl/js/jquery.slimscroll.min.js"></script>
<script src="/dl/js/jquery.imgareaselect.js"></script>
<script src="/dl/js/jquery.smartWizard.js"></script>
<script src="/dl/js/apps.min.js"></script>

<script>
    var app = angular.module('app', []);
    app.directive('imageonload', function () {
        return {
            restrict: 'A',
            link: function (scope, element, attrs) {
                element.bind('load', function () {
                    scope.$apply(attrs.imageonload);
                });
            }
        };
    });
    app.controller('controller', function ($scope, $http, $timeout) {

        $http.get('/dl/evaluations/get_data').success(
            function (data, status, headers, config) {
                $scope.data = data;
            }).error(function (data, status, headers, config) {
        });


        $scope.btn_go_click = function () {
            $scope.total = 0;
            $scope.mAP = 'Calculating...';
            $scope.testing_data = null;
            $scope.selected;
            $http.get('/dl/evaluations/get_testing_data/weights/' + $scope.selected.weights + '/positives/' + $scope.selected.positives + '/negatives/' + $scope.selected.negatives).success(
                function (data, status, headers, config) {
                    $scope.testing_data = data;
                    // $scope.show_info();
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.find_detection = function ($annotation) {
            $ret = null;
            for (i = 0; i < $scope.testing_data.results.length; i++) {
                $anno = $scope.testing_data.results[i];
                var id = $anno.frame_id;
                if (id == $annotation.frame_index) {
                    $ret = $anno;
                }
            }
            return $ret;
        }

        $scope.on_image_loaded = function ($annotation) {
            // console.log($annotation.id + ': x1=' + $annotation.x1);
            var id = $annotation.frame_id;
            var img_name = '' + id;
            $scope.draw(img_name,
                $annotation.w,
                $annotation.h,
                $annotation.x1,
                $annotation.y1,
                $annotation.x2,
                $annotation.y2,
                'red');

            $annotation.detection = $scope.find_detection($annotation);

            if ($annotation.detection != null) {
                $scope.draw(img_name,
                    $annotation.w,
                    $annotation.h,
                    $annotation.detection.x1,
                    $annotation.detection.y1,
                    $annotation.detection.x2,
                    $annotation.detection.y2,
                    'blue');
            }

            $scope.check_result($annotation);

        }

        $scope.check_result = function ($annotation) {

            if ($annotation.detection != null && $annotation.detection.iou > 0.5 && $scope.testing_data.positive_class == $annotation.detection.class_id) {
                if ($scope.testing_data.positive_class == $annotation.class_id) {
                    $annotation.result_a = 'True';
                    $annotation.result_b = 'Positive';
                } else {
                    $annotation.result_a = 'False';
                    $annotation.result_b = 'Positive';
                }
            } else {
                if ($scope.testing_data.positive_class == $annotation.class_id) {
                    $annotation.result_a = 'False';
                    $annotation.result_b = 'Negative';
                } else {
                    $annotation.result_a = 'True';
                    $annotation.result_b = 'Negative';
                }
            }


            $scope.total = $scope.total + 1;
            if ($scope.total == $scope.testing_data.testing_data.length) {
                $scope.cacl_map();
            }

        }

        $scope.cacl_map = function ($annotation) {
            console.log('cacl_map');
            $arr_precision = new Array();
            $arr_recall = new Array();
            $tp = 0;
            $gt_total = 0;
            for ($i = 0; $i < $scope.testing_data.testing_data.length; $i++) {
                if ($scope.testing_data.testing_data[$i].class_id == $scope.testing_data.positive_class) {
                    $gt_total = $gt_total + 1;
                }
            }

            for ($i = 0; $i < $scope.testing_data.testing_data.length; $i++) {
                if ($scope.testing_data.testing_data[$i].result_a == 'True' && $scope.testing_data.testing_data[$i].result_b == 'Positive') {
                    $tp = $tp + 1;
                }
                $arr_precision.push($tp / ($i + 1));
                $arr_recall.push($tp / $gt_total);
            }

            $recall = 0;
            $total_ap = 0
            $map_cnt = 0;

            for ($i = 0; $i < $arr_recall.length; $i++) {
                if ($arr_recall[$i] > $recall) {
                    $recall = $arr_recall[$i];
                    $map_cnt = $map_cnt + 1;
                    $total_ap = $total_ap + $scope.get_max_percision($arr_precision, $i);
                }
            }

            $scope.mAP = $total_ap / $map_cnt;
            $scope.save_map();
        };

        $scope.save_map = function () {
            $http.get('/dl/evaluations/save_map/weights_id/' + $scope.selected.weights + '/movie_id/' + $scope.selected.positives + '/f1/' + document.getElementById('f1').innerText + '/map/' + $scope.mAP).success(
                function (data, status, headers, config) {

                }).error(function (data, status, headers, config) {
            });
        }

        $scope.get_max_percision = function ($arr_precision, $offset) {
            $ret = 0;
            for ($j = $offset; $j < $arr_precision.length; $j++) {
                if ($arr_precision[$j] > $ret) {
                    $ret = $arr_precision[$j];
                }
            }
            return $ret;
        };

        $scope.draw = function ($name, w, h, x1, y1, x2, y2, $color) {

            var img = document.getElementById('card_' + $name);
            var width = $('#img_' + $name).width();
            var height = $('#img_' + $name).height();

            var offsetx = 0;
            var offsety = 0;

            var cx = x1 * (width - offsetx) / w;
            var cy = y1 * (height - offsety) / h;
            var cw = (x2 - x1) * (width - offsetx) / w;
            var ch = (y2 - y1) * (height - offsety) / h;

            var canvas = document.createElement('canvas'); //Create a canvas element
            //Set canvas width/height
            canvas.style.width = width;
            canvas.style.height = height;
            //Set canvas drawing area width/height
            canvas.width = width;
            canvas.height = height;
            //Position canvas
            canvas.style.position = 'absolute';
            canvas.style.left = 0;
            canvas.style.top = 0;
            canvas.style.zIndex = 2;
            canvas.style.pointerEvents = 'none'; //Make sure you can click 'through' the canvas

            img.appendChild(canvas);
            // var img = $('#' + $name);
            // img.append(canvas); //Append canvas to body element
            var context = canvas.getContext('2d');
            //Draw rectangle
            context.strokeStyle = $color;
            context.lineWidth = 2;
            // context.strokeRect(0, 0, width-1, height-1);
            context.strokeRect(cx, cy, cw-1, ch-1);
        }
    });

</script>

</html>