<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/dl/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dl/css/style.min.css" rel="stylesheet"/>
    <link href="/dl/css/style-responsive.min.css" rel="stylesheet"/>
    <link href="/dl/css/fontawesome-all.min.css" rel="stylesheet"/>
    <link href="/dl/css/jquery-ui.min.css" rel="stylesheet"/>
    <link href="/dl/css/default.css" rel="stylesheet"/>
    <link href="/dl/css/smart_wizard.css" rel="stylesheet"/>
</head>

<body data-gr-c-s-loaded="true" class="  pace-done">
<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<!-- begin #page-loader -->
<div id="page-loader" class="fade show d-none"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed show has-scroll">

    <include file="Public:header"/>
    <include file="Public:sidebar"/>

    <!-- begin #content -->
    <div id="content" class="content" ng-app="app" ng-controller="controller">
        <include file="Public:modal_add_annotation" modal_title="Add Annotations"/>

        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item active">Weights</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Weights</h1>
        <!-- end page-header -->

        <!-- begin row -->
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-lg-4 ui-sortable">
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading ui-sortable-handle">
                        <div class="panel-heading-btn">
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-default"
                               data-click="panel-expand" ng-click="reload_annotation()"><i class="fa fa-expand"></i></a>
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-success"
                               data-click="panel-reload" ng-click="reload_weights_list()"><i class="fa fa-redo"></i></a>
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-warning"
                               data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Model List ({{model_list_data.models.length}})</h4>
                    </div>
                    <div class="panel-body pt-2 pl-2 pr-2 pb-0">
                        <div class="row pt-2 pb-2">
                            <div class="col-md-12">
                                                       <span class="gallery-option-set">
                                                            <a ng-repeat="cls in model_class_list_data"
                                                               class="btn btn-default"
                                                               ng-class="{true:'active', false:''}[cls==selected.class]"
                                                               ng-click="model_class_select(cls)">Class_{{cls.classes}}</a></li>
                                                        </span>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <!--<th>IMDB ID</th>-->
                                    <th>Name</th>
                                    <!--<th>Method</th>-->
                                    <th>Class</th>
                                    <th>Weights</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="model in model_list_data.models| filter:{classes:selected.class.classes}"
                                    ng-click="model_list_click(model)"
                                    ng-class="{'active' : model.id == selected.model.id}">
                                    <td><span class="badge badge-secondary">{{model.id}}</span></td>
                                    <!--<td>{{movie.imdb_id}}</td>-->
                                    <td>
                                        <button class="btn btn-info btn-xs">{{model.name}}</button>
                                    </td>
                                    <!--<td>{{model.system}}</td>-->
                                    <td>{{model.class_cnt}}</td>
                                    <td>{{model.weights_cnt}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="index-2">
                    <div class="panel-heading ui-sortable-handle">
                        <include file="Public:panel-heading-btn"/>
                        <h4 class="panel-title">Weights List ({{model_weights_data.weights.length}})</h4>
                    </div>
                    <div class="panel-body p-t-0">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <!--<th>Path</th>-->
                                    <th>Action</th>
                                    <th>Pending</th>
                                    <th>Results</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="weight in model_weights_data.weights"
                                    ng-click="weights_list_click(weight)"
                                    ng-class="{'active' : weight.id == selected.weights.id}">
                                    <td><span class="badge badge-secondary">{{weight.id}}</span></td>
                                    <td>{{weight.name}}</td>
                                    <!--<td>{{weight.path}}</td>-->
                                    <td>
                                        <button id="verify_frame_btn_{{weight.id}}" type="button"
                                                class="btn btn-xs btn-primary"
                                                ng-show="weight.results_cnt==0 || eight.verify_cnt==0"
                                                ng-click="verify_frame_click(weight)">Create Verify Data
                                        </button>
                                    </td>
                                    <td><span class="badge badge-danger" ng-show="weight.verify_cnt>0">{{weight.verify_cnt}}</span>
                                    <td><span class="badge badge-lime" ng-show="weight.results_cnt>0">{{weight.results_cnt}}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading ui-sortable-handle">
                        <include file="Public:panel-heading-btn"/>
                        <h4 class="panel-title">Verify frames</h4>
                    </div>
                    <div class="panel-body">

                        <div class="alert alert-success">
                            {{verify_all_frame}}
                        </div>
                        <div class="alert alert-warning">
                            {{verify_iou_frame}}
                        </div>
                        <div class="alert alert-info">
                            {{add_iou_sql}}
                        </div>

                        <!---->
                        <!--<p class="m-b-xs"><strong>Run the command below on 10.118.118.69 or 10.118.119.240</strong></p>-->
                        <!--<p class="text-primary"><strong>{{createTrainingPackage}}</strong></p>-->
                    </div>
                </div>
            </div>
            <!-- end col-4 -->
            <!-- begin col-8 -->
            <div class="col-lg-8 ui-sortable">

                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading ui-sortable-handle">
                        <div class="panel-heading-btn">
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-default"
                               data-click="panel-expand" ng-click="reload_annotation()"><i class="fa fa-expand"></i></a>
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-success"
                               data-click="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-warning"
                               data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Results - {{selected.movie.title}} ({{selected.movie.year}})</h4>
                    </div>
                    <div class="panel-body">
                        <div class="m-b-10">
                <span class="gallery-option-set">
                    <a class="btn btn-default btn-xs" ng-repeat="movie in weights_movies"
                       ng-class="{'active' : movie.id == selected.movie.id}" ng-click="movie_select(movie)">{{movie.title}} ({{movie.year}})</a>
                </span>
                        </div>
                        <hr>
                        <div class="m-b-10" ng-show="weights_movies.length > 0">
                <span class="gallery-option-set">
                    <a class="btn btn-default btn-xs" ng-repeat="confidence in confidences"
                       ng-class="{'active' : confidence.id == selected.confidence.id}"
                       ng-click="confidence_select(confidence)">{{confidence.value}}</a>
                </span>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                                    <span class="gallery-option-set">
                                                <a ng-repeat="page in results.pages" class="{{page.class}}"
                                                   ng-click="get_results_frames(page.name)">{{page.title}}</a>
                                                        </span>
                                    </nav>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-md-3 pt-0 pl-1 pr-1 pb-0" ng-repeat="frame in results">
                                <div id="card_{{frame.frame_id}}" class="card card-inverse mb-2">
                                    <img id="img_{{frame.frame_id}}" class="card-img"
                                         imageonload="on_image_loaded(frame)"
                                         style="display: block;"
                                         ng-src="/projects/{{frame.movie_id}}/thumb_frame/{{frame.movie_id}}_{{('00000'+frame.frame_id).slice(-6)}}.JPEG">
                                    <div id="info_{{frame.frame_id}}" class="card-img-overlay">
                                        <h6 class="card-title">{{frame.class_id}}-{{frame.confidence|number:2}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-8 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end #content -->
</div>
<!-- end page container -->

</body>
<script src="/dl/js/jquery-3.2.1.min.js"></script>
<script src="/dl/js/jquery-ui.min.js"></script>
<script src="/dl/bootstrap-4.0.0/dist/js/bootstrap.bundle.js"></script>
<script src="/dl/js/angular.min.js"></script>
<script src="/dl/js/jquery.slimscroll.min.js"></script>
<script src="/dl/js/apps.min.js"></script>

<script>
    var app = angular.module('app', []);
    app.directive('imageonload', function () {
        return {
            restrict: 'A',
            link: function (scope, element, attrs) {
                element.bind('load', function () {
                    scope.$apply(attrs.imageonload);
                });
            }
        };
    });
    app.controller('controller', function ($scope, $http, $timeout) {

        $scope.confidences = [{id: 1, value: 0.1}, {id: 2, value: 0.2}, {id: 3, value: 0.3}, {
            id: 4,
            value: 0.4
        }, {id: 5, value: 0.5}, {id: 6, value: 0.6}, {id: 7, value: 0.7}, {
            id: 8,
            value: 0.8
        }, {id: 9, value: 0.9}];

        $scope.selected = [];
        $scope.selected.page = 0;
        $scope.selected.confidence = $scope.confidences[7];


        App.init();
        $scope.model_list_click = function ($model) {
            $scope.selected.model = $model;
            $scope.get_model_weights();
        };

        $scope.get_models = function () {
            $http.get('/dl/weights/get_models').success(
                function (data, status, headers, config) {
                    $scope.model_list_data = data;
                    $scope.selected.model = data.models[0];
                    $scope.get_model_weights();
                }).error(function (data, status, headers, config) {
            });

        };

        $scope.get_models();

        $scope.get_model_weights = function () {
            $http.get('/dl/weights/get_model_weights/model_id/' + $scope.selected.model.id).success(
                function (data, status, headers, config) {
                    $scope.model_weights_data = data;
                }).error(function (data, status, headers, config) {
            });

            $http.get('/dl/weights/get_models_class_cnt_list').success(
                function (data, status, headers, config) {
                    $scope.model_class_list_data = data;
                    if ($scope.selected.class == null)
                        $scope.selected.class = data[0];
                }).error(function (data, status, headers, config) {
            });


        };

        $scope.reload_weights_list = function () {
            $scope.model_list_data = null;
            $scope.model_weights_data = null;
            $http.get('/dl/weights/reload_weights_list').success(
                function (data, status, headers, config) {
                    $scope.get_models();
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.get_weights_results = function () {
            $http.get('/dl/weights/get_weights_movies/weights_id/' + $scope.selected.weights.id).success(
                function (data, status, headers, config) {
                    $scope.weights_movies = data;
                    if (data.length > 0) {
                        $scope.selected.movie = data[0];
                        $scope.get_results_frames($scope.selected.page);
                    }
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.get_results_frames = function ($page) {
            $http.get('/dl/weights/get_results_frames/weights_id/' + $scope.selected.weights.id + '/movie_id/' + $scope.selected.movie.id + '/confidence/' + $scope.selected.confidence.value + '/page/' + $page).success(
                function (data, status, headers, config) {
                    $scope.results = data;
                    $scope.selected.page = $page;
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.weights_list_click = function ($weights) {
            $scope.selected.weights = $weights;
            $scope.movies = null;
            $scope.selected.movie = null;
            $scope.get_weights_results();

            $http.get('/dl/weights/get_action/weights_id/' + $scope.selected.weights.id).success(
                function (data, status, headers, config) {
                    $scope.verify_all_frame = data.verify_all_frame;
                    $scope.verify_iou_frame = data.verify_iou_frame;
                    $scope.add_iou_sql = data.add_iou_sql;

                    // $scope.get_model_classes();
                }).error(function (data, status, headers, config) {
            });
            // $scope.createTrainingPackage = "/ai_dl/python/" + $scope.selected.model.id + "/darknet.v2.cuda.9.0 verify 0";

        };

        $scope.on_image_loaded = function ($annotation) {
            // console.log($annotation.id + ': x1=' + $annotation.x1);
            var id = $annotation.frame_id;
            var img_name = '' + id;
            $scope.draw(img_name,
                $annotation.w,
                $annotation.h,
                $annotation.x1,
                $annotation.y1,
                $annotation.x2,
                $annotation.y2);
        };

        $scope.draw = function ($name, w, h, x1, y1, x2, y2) {

            var img = document.getElementById('card_' + $name);

            img.removeChild(img.childNodes[4]);

            var width = $('#img_' + $name).width();
            var height = $('#img_' + $name).height();

            // var info_height = $('#info_' + $name).height();

            var offsetx = 0;
            var offsety = 0;

            var cx = x1 * (width - offsetx) / w;
            var cy = y1 * (height - offsety) / h;
            var cw = (x2 - x1) * (width - offsetx) / w;
            var ch = (y2 - y1) * (height - offsety) / h;

            // var cx = x1;
            // var cy = y1;
            // var cw = (x2 - x1);
            // var ch = (y2 - y1);

            var canvas = document.createElement('canvas'); //Create a canvas element
            //Set canvas width/height
            // canvas.style.width = '100%';
            // canvas.style.height = '100%';
            //Set canvas drawing area width/height
            canvas.width = width;
            canvas.height = height;
            //Position canvas
            canvas.style.position = 'absolute';
            canvas.style.left = 0;
            canvas.style.top = 0;
            canvas.style.zIndex = 2;
            canvas.style.pointerEvents = 'none'; //Make sure you can click 'through' the canvas

            img.appendChild(canvas);
            // var img = $('#' + $name);
            // img.append(canvas); //Append canvas to body element
            var context = canvas.getContext('2d');
            //Draw rectangle
            context.strokeStyle = 'blue';
            context.lineWidth = 2;
            // context.strokeRect(0, 0, width, height - offsety);
            context.strokeRect(cx, cy, cw - 1, ch - 1);
        };

        $scope.reload_annotation = function () {
            $scope.annotations = null;
            $scope.get_annotations();
        };

        $scope.movie_select = function ($movie) {
            $scope.selected.movie = $movie;
            $scope.get_results_frames(0);
        };

        $scope.confidence_select = function ($confidence) {
            $scope.selected.confidence = $confidence;
            $scope.get_results_frames(0);

        };

        $scope.verify_frame_click = function ($weights) {
            document.getElementById("verify_frame_btn_" + $weights.id).setAttribute("disabled", true);
            $http.get('/dl/weights/add_testing_data/weights_id/' + $weights.id).success(
                function (data, status, headers, config) {
                    document.getElementById("verify_frame_btn_" + $weights.id).removeAttribute("disabled");
                    $scope.get_model_weights();
                }).error(function (data, status, headers, config) {
                document.getElementById("verify_frame_btn_" + $weights.id).removeAttribute("disabled");
                $scope.get_model_weights();
            });
        };

        $scope.model_class_select = function ($class) {
            $scope.selected.class = $class;
        };
    });

</script>

</html>