<div class="modal fade" id="addAnnotationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">[modal_title] ({{annotations_data.total}}) {{edit_index}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row"><div class="col-lg-12">
                        <span class="text-center gallery-option-set">
                    <a class="btn btn-default btn-xs" ng-repeat="confidence in confidences"
                       ng-class="{'active' : confidence.id == selected.confidence.id}"
                       ng-click="confidence_select(confidence)">{{confidence.value}}</a>
                </span>
                    </div></div>
                    <hr>
                    <div class="form-group">

                        <ul class="pager m-b-10">
                            <li><a href="">{{edit_annotation.frame_index}}</a></li>
                            <li><a href="">{{(edit_annotation.frame_index)*41.84
                                - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</a></li>
                            <li ng-show="edit_annotation.confidence != null"><a href="">{{edit_annotation.confidence}}</a></li>
                        </ul>
                        <div class="card mb-4 box-shadow">
                            <img id="photo" class="card-img" style="display: block;" img-area-select
                                 imageonload="on_modal_image_loaded()"
                                 ng-src="/projects/{{edit_annotation.movie_id}}/all_frame/{{edit_annotation.movie_id}}_{{('00000'+edit_annotation.frame_index).slice(-6)}}.JPEG">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img" style="display: block;" img-area-select
                                     ng-src="/projects/{{new_annotation_data.prev.movie_id}}/thumb_frame/{{new_annotation_data.prev.movie_id}}_{{('00000'+new_annotation_data.prev.frame_index).slice(-6)}}.JPEG">
                                <div class="card-img-overlay">
                                    <h6 class="text-white">{{(new_annotation_data.prev.frame_index)*41.84 - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img" style="display: block;" img-area-select
                                     ng-src="/projects/{{new_annotation_data.data.movie_id}}/thumb_frame/{{new_annotation_data.data.movie_id}}_{{('00000'+new_annotation_data.data.frame_index).slice(-6)}}.JPEG">
                                <div class="card-img-overlay">
                                    <h6 class="text-white">{{(new_annotation_data.data.frame_index)*41.84 - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img" style="display: block;" img-area-select
                                     ng-src="/projects/{{new_annotation_data.next.movie_id}}/thumb_frame/{{new_annotation_data.next.movie_id}}_{{('00000'+new_annotation_data.next.frame_index).slice(-6)}}.JPEG">
                                <div class="card-img-overlay">
                                    <h6 class="text-white">{{(new_annotation_data.next.frame_index)*41.84 - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-12 text-center">

                            <button type="button" class="col-md-2 btn btn-info" ng-show="new_annotation_data.new == null" ng-click="annotation_prev_click()">Prev</button>
                            <button type="button" class="col-md-2 btn btn-info" ng-show="new_annotation_data.new == null" ng-click="annotation_next_click()">Next</button>
                            <button type="button" class="col-md-2 btn btn-success " ng-click="new_annotation_save_click()">Save</button>
                            <button type="button" class="col-md-2 btn btn-primary" ng-show="edit_annotation.new == true" ng-click="new_annotation_reload_click()">Reload</button>
                            <button type="button" class="col-md-2 btn btn-danger" ng-show="edit_annotation.new == false" ng-click="delete_annotation_click()">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close">OK</button>
            </div>
        </div>
    </div>
</div>
