<div class="panel-heading-btn">
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
       data-click="panel-expand"><i class="fa fa-expand"></i></a>
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
</div>