<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
        <div data-scrollbar="true" data-height="100%" data-init="true"
             style="overflow: hidden; width: auto; height: 100%;">
            <!-- begin sidebar nav -->
            <ul class="nav">
                <li class="nav-header">Navigation</li>
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="/dl/movie">
                        <i class="fa fa-film"></i>
                        <span>Movie</span>
                    </a>
                </li>
                <li>
                    <a href="/dl/class">
                        <i class="fa fa-cubes"></i>
                        <span>Class</span>
                    </a>
                </li>
                <li>
                    <a href="/dl/model">
                        <i class="fab fa-simplybuilt"></i>
                        <span>Model</span>
                    </a>
                </li>
                <li>
                    <a href="/dl/weights">
                        <i class="fa fa-align-justify"></i>
                        <span>Weights</span>
                    </a>
                </li>
                <li>
                    <a href="/dl/report">
                        <i class="fa fa-file"></i>
                        <span>Report</span>
                    </a>
                </li>
                <li>
                    <a href="/dl/evaluations">
                        <i class="fa fa-images"></i>
                        <span>Evaluation</span>
                    </a>
                </li>

                <!--<li class="has-sub closed">-->
                    <!--<a href="javascript:;">-->
                        <!--<b class="caret"></b>-->
                        <!--<i class="fa fa-star"></i>-->
                        <!--<span>Evaluations</span>-->
                    <!--</a>-->
                    <!--<ul class="sub-menu">-->
                        <!--<li><a href="" target="_blank">IOU</a></li>-->
                        <!--<li><a href="" target="_blank">Chart</a></li>-->
                        <!--<li><a href="" target="_blank">Report</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            </ul>
            <!-- end sidebar nav -->
        </div>
    </div>
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->