<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/dl/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dl/css/style.min.css" rel="stylesheet"/>
    <link href="/dl/css/style-responsive.min.css" rel="stylesheet"/>
    <link href="/dl/css/fontawesome-all.min.css" rel="stylesheet"/>
    <link href="/dl/css/jquery-ui.min.css" rel="stylesheet"/>
    <link href="/dl/css/default.css" rel="stylesheet"/>
    <link href="/dl/css/smart_wizard.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/dl/css/imgareaselect-animated.css">
</head>

<body data-gr-c-s-loaded="true" class="  pace-done">
<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<!-- begin #page-loader -->
<div id="page-loader" class="fade show d-none"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed show has-scroll">

    <include file="Public:header"/>
    <include file="Public:sidebar"/>

    <!-- begin #content -->
    <div id="content" class="content" ng-app="app" ng-controller="controller">
        <include file="Public:modal_add_annotation" modal_title="Add Annotations"/>

        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item active">Class</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Class</h1>
        <!-- end page-header -->

        <!-- begin row -->
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-lg-4 ui-sortable">
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading ui-sortable-handle">
                        <include file="Public:panel-heading-btn"/>
                        <h4 class="panel-title">Class Detail</h4>
                    </div>
                    <div class="panel-body pt-2 pl-2 pr-2 pb-0">
                        <div class="card card-inverse">
                            <img class="card-img img-fluid" ng-src="/projects/{{selected.class.movie_id}}/all_frame/{{selected.class.movie_id}}_{{('00000'+selected.class.frame_index).slice(-6)}}.JPEG">
                            <div class="card-img-overlay">
                                <h1 class="card-title">{{selected.class.name}}</h1>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="index-2">
                    <div class="panel-heading ui-sortable-handle">
                        <div class="panel-heading-btn">
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-default"
                               data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-success"
                               data-click="panel-reload" ng-click="reload_class_list()"><i class="fa fa-redo"></i></a>
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-warning"
                               data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Class List ({{class_list_data.classes.length}})</h4>
                    </div>
                    <div class="panel-body p-t-0">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Class</th>
                                    <!--<th>IMDB ID</th>-->
                                    <th>Name</th>
                                    <th>Annotations ({{class_list_data.total_annotation}})</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="class in class_list_data.classes" ng-click="class_list_click(class)" ng-class="{'active' : class.id == selected.class.id}">
                                    <td><span class="badge badge-secondary">{{class.id}}</span></td>
                                    <td class="with-img"><img ng-src="/projects/{{class.movie_id}}/thumb_frame/{{class.movie_id}}_{{('00000'+class.frame_index).slice(-6)}}.JPEG" class="rounded-corner height-30 width-30">
                                    </td>
                                    <td>{{class.name}}</td>
                                    <td><span class="btn btn-xs btn-success">{{class.annotation_cnt}}</span></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
                <!-- begin panel -->
                <div class="panel panel-inverse" ng-show="0">
                    <div class="panel-heading ui-sortable-handle">
                        <include file="Public:panel-heading-btn"/>
                        <h4 class="panel-title">Add New Class</h4>
                    </div>
                    <div class="panel-body">
                        <div id="wizard" class="sw-main sw-theme-default">
                            <!-- begin wizard-step -->
                            <ul class="nav nav-tabs step-anchor">
                                <li class="col-md-4 col-sm-4 col-6 active">
                                    <a href="#step-1">
                                        <span class="number">1</span>
                                        <span class="info text-ellipsis">
									IMDB ID
								</span>
                                    </a>
                                </li>
                                <li class="col-md-4 col-sm-4 col-6">
                                    <a href="#step-2">
                                        <span class="number">2</span>
                                        <span class="info text-ellipsis">
									IMDB Info
								</span>
                                    </a>
                                </li>
                                <li class="col-md-4 col-sm-4 col-6">
                                    <a href="#step-3">
                                        <span class="number">3</span>
                                        <span class="info text-ellipsis">
									Create Frames
								</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- end wizard-step -->
                            <!-- begin wizard-content -->
                            <div class="sw-container tab-content" style="min-height: 366px;">
                                <!-- begin step-1 -->
                                <div id="step-1" class="step-content" style="display: block;">
                                    <!-- begin fieldset -->
                                    <fieldset>
                                        <!-- begin row -->
                                        <div class="row">
                                            <!-- begin col-8 -->
                                            <div class="col-md-8 offset-md-2">
                                                <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">
                                                    Enter IMDB ID
                                                </legend>
                                                <!-- begin form-group row -->
                                                <div class="form-group row m-b-10">
                                                    <label class="col-md-2 text-md-right col-form-label">imdb_id</label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="imdb_id" class="form-control"
                                                               ng-model="imdb_id">
                                                    </div>
                                                </div>
                                                <!-- end form-group row -->
                                            </div>
                                            <!-- end col-8 -->
                                        </div>
                                        <!-- end row -->
                                    </fieldset>
                                    <!-- end fieldset -->
                                </div>
                                <!-- end step-1 -->
                                <!-- begin step-2 -->
                                <div id="step-2" class="step-content">
                                    <!-- begin fieldset -->
                                    <fieldset>
                                        <!-- begin row -->
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="card mb-4 box-shadow">
                                                    <img class="card-img-top" style="display: block;"
                                                         ng-src="{{imdb_data.Poster}}">
                                                </div>
                                            </div>

                                            <div class="col-md-8">
                                                <div class="form-group row m-b-10">
                                                    <label class="col-md-3 text-md-right col-form-label">Title</label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control"
                                                               ng-model="imdb_data.Title">
                                                    </div>
                                                </div>
                                                <div class="form-group row m-b-10">
                                                    <label class="col-md-3 text-md-right col-form-label">Year
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control"
                                                               ng-model="imdb_data.Year">
                                                    </div>
                                                </div>
                                                <div class="form-group row m-b-10">
                                                    <label class="col-md-3 text-md-right col-form-label">Actors
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control"
                                                               ng-model="imdb_data.Actors">
                                                    </div>
                                                </div>
                                                <div class="form-group row m-b-10">
                                                    <label class="col-md-3 text-md-right col-form-label">Plot
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control"
                                                               ng-model="imdb_data.Plot">
                                                    </div>
                                                </div>
                                                <div class="form-group row m-b-10">
                                                    <label class="col-md-3 text-md-right col-form-label">Rating
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control"
                                                               ng-model="imdb_data.imdbRating">
                                                    </div>
                                                </div>
                                                <div class="form-group row m-b-10">
                                                    <label class="col-md-3 text-md-right col-form-label">Video File
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control"
                                                               ng-model="imdb_data.video_file">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </fieldset>
                                    <!-- end fieldset -->
                                </div>
                                <!-- end step-2 -->
                                <!-- begin step-3 -->
                                <div id="step-3" class="step-content">
                                    <!-- begin fieldset -->
                                    <fieldset>
                                        <!-- begin row -->
                                        <div class="row">
                                            <!-- begin col-8 -->
                                            <div class="col-md-8 offset-md-2">
                                                <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">
                                                    Please run <a href="/dl/python/make_frame.py">make_frame.py</a> at
                                                    10.118.118.155/ai_dl/python
                                                </legend>
                                                <!-- begin form-group row -->
                                                <ul>
                                                    <li>Create 720x frames</li>
                                                    <li>Create 360x frames</li>
                                                    <li>Insert all frames data into database</li>
                                                </ul>
                                                <!-- end form-group row -->
                                            </div>
                                            <!-- end col-8 -->
                                        </div>
                                        <!-- end row -->
                                    </fieldset>
                                    <!-- end fieldset -->
                                </div>
                                <!-- end step-3 -->
                            </div>
                            <!-- end wizard-content -->
                        </div>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-4 -->
            <!-- begin col-8 -->
            <div class="col-lg-8 ui-sortable">

                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading ui-sortable-handle">
                        <div class="panel-heading-btn">
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-default"
                               data-click="panel-expand" ng-click="reload_annotation()"><i class="fa fa-expand"></i></a>
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-success"
                               data-click="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-warning"
                               data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Annotations - {{class_detail_data.name}} ({{annotations_data.total}})</h4>
                    </div>
                    <div class="panel-body">
                        <div class="m-b-10">
                <span class="gallery-option-set">
                    <a class="btn btn-default btn-xs" ng-repeat="weights in weights_results" ng-click="add_from_weights(weights)">Add from {{weights.name}}</a>
                </span>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                                    <span class="gallery-option-set">
                                                <a ng-repeat="page in annotations_data.pages" class="{{page.class}}" ng-click="get_annotations(page.name)">{{page.title}}</a>
                                                        </span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3 pt-0 pl-1 pr-1 pb-0" ng-repeat="annotation in annotations_data.annotations">
                                <div id="card_{{annotation.id}}" class="card card-inverse mb-2">
                                    <img id="img_{{annotation.id}}" class="card-img"
                                         imageonload="on_image_loaded(annotation)"
                                          style="display: block;"
                                         ng-src="/projects/{{annotation.movie_id}}/thumb_frame/{{annotation.movie_id}}_{{('00000'+annotation.frame_index).slice(-6)}}.JPEG">
                                    <div id="info_{{annotation.id}}"
                                         ng-click="on_frame_click(annotation)" class="card-img-overlay">
                                        <h6 class="card-title">{{(annotation.frame_index)*41.84 - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- end panel -->
            </div>
            <!-- end col-8 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end #content -->
</div>
<!-- end page container -->

</body>
<script src="/dl/js/jquery-3.2.1.min.js"></script>
<script src="/dl/js/jquery-ui.min.js"></script>
<script src="/dl/bootstrap-4.0.0/dist/js/bootstrap.bundle.js"></script>
<script src="/dl/js/angular.min.js"></script>
<script src="/dl/js/jquery.slimscroll.min.js"></script>
<script src="/dl/js/jquery.imgareaselect.js"></script>
<script src="/dl/js/jquery.smartWizard.js"></script>
<script src="/dl/js/apps.min.js"></script>

<script>
    var app = angular.module('app', []);
    app.directive('imageonload', function () {
        return {
            restrict: 'A',
            link: function (scope, element, attrs) {
                element.bind('load', function () {
                    scope.$apply(attrs.imageonload);
                });
            }
        };
    });
    app.controller('controller', function ($scope, $http, $timeout) {
        $scope.confidences = [{id: 1, value: 0.1}, {id: 2, value: 0.2}, {id: 3, value: 0.3}, {
            id: 4,
            value: 0.4
        }, {id: 5, value: 0.5}, {id: 6, value: 0.6}, {id: 7, value: 0.7}, {
            id: 8,
            value: 0.8
        }, {id: 9, value: 0.9}];

        $scope.selected = [];
        $scope.selected.confidence = $scope.confidences[4];
        $scope.selected.page = 0;
        $http.get('/dl/class/get_classes').success(
            function (data, status, headers, config) {
                $scope.class_list_data = data;
                $scope.selected.class = data.classes[0];
                $scope.get_annotations($scope.selected.page);
            }).error(function (data, status, headers, config) {
        });

        // $scope.imdb_id = 'tt0398286';
        "use strict";
        $("#wizard").smartWizard({
            selected: 0,
            theme: "default",
            transitionEffect: "",
            transitionSpeed: 0,
            useURLhash: !1,
            showStepURLhash: !1,
            toolbarSettings: {toolbarPosition: "bottom"}
        });

        $("#wizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection) {
            // return confirm("Do you want to leave the step "+stepNumber+"?");
            if (stepNumber == 0) {
                $http.get('http://www.omdbapi.com/?i=' + $scope.imdb_id + '&apikey=277d2395').success(
                    function (data, status, headers, config) {
                        $scope.imdb_data = data;
                        // $scope.imdb_data.video_file = 'T2ngl3d-2010-720p-hdp0pc0rns.mkv'
                    }).error(function (data, status, headers, config) {
                });
            } else if (stepNumber == 1) {

            }
        });
        App.init();

        $scope.class_list_click = function ($class) {
            $scope.selected.class = $class;
            $scope.get_annotations(0);
        };

        $scope.get_annotations = function ($page) {

            $http.get('/dl/class/get_weights_results/movie_id/' + $scope.selected.class.movie_id + '/class_id/' + $scope.selected.class.id).success(
                function (data, status, headers, config) {
                    $scope.weights_results = data;
                }).error(function (data, status, headers, config) {
            });

            $http.get('/dl/class/get_annotations/movie_id/' + $scope.selected.class.movie_id + '/class_id/' + $scope.selected.class.id + '/page/' + $page).success(
                function (data, status, headers, config) {
                    $scope.annotations_data = data;
                    $scope.selected.page = $page;
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.on_image_loaded = function ($annotation) {
            // console.log($annotation.id + ': x1=' + $annotation.x1);
            var id = $annotation.id;
            var img_name = '' + id;
            $scope.draw(img_name,
                $annotation.w,
                $annotation.h,
                $annotation.x1,
                $annotation.y1,
                $annotation.x2,
                $annotation.y2);
        };

        $scope.draw = function ($name, w, h, x1, y1, x2, y2) {

            var img = document.getElementById('card_' + $name);

            img.removeChild(img.childNodes[4]);

            var width = $('#img_' + $name).width();
            var height = $('#img_' + $name).height();

            // var info_height = $('#info_' + $name).height();

            var offsetx = 0;
            var offsety = 0;

            var cx = x1 * (width - offsetx) / w;
            var cy = y1 * (height - offsety) / h;
            var cw = (x2 - x1) * (width - offsetx) / w;
            var ch = (y2 - y1) * (height - offsety) / h;

            // var cx = x1;
            // var cy = y1;
            // var cw = (x2 - x1);
            // var ch = (y2 - y1);

            var canvas = document.createElement('canvas'); //Create a canvas element
            //Set canvas width/height
            // canvas.style.width = '100%';
            // canvas.style.height = '100%';
            //Set canvas drawing area width/height
            canvas.width = width;
            canvas.height = height;
            //Position canvas
            canvas.style.position = 'absolute';
            canvas.style.left = 0;
            canvas.style.top = 0;
            canvas.style.zIndex = 2;
            canvas.style.pointerEvents = 'none'; //Make sure you can click 'through' the canvas

            img.appendChild(canvas);
            // var img = $('#' + $name);
            // img.append(canvas); //Append canvas to body element
            var context = canvas.getContext('2d');
            //Draw rectangle
            context.strokeStyle = 'red';
            context.lineWidth = 2;
            // context.strokeRect(0, 0, width, height - offsety);
            context.strokeRect(cx, cy, cw - 1, ch - 1);
        };

        $scope.reload_annotation = function () {
            // $scope.annotations_data = null;
            $scope.get_annotations($scope.selected.page);
        };

        $scope.reload_class_list = function () {
            $http.get('/dl/class/get_classes').success(
                function (data, status, headers, config) {
                    // $scope.selected.class = data.classes.find(function (c) {
                    //     return c.id = $scope.selected.class.id;
                    // });
                    $scope.class_list_data = data;
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.add_from_weights = function ($weights) {
            $http.get('/dl/class/delete_annotation_temp').success(
                function (data, status, headers, config) {
                    $scope.selected.weights = $weights;
                    $scope.new_annotation_reload_click();
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.show_modal = function () {
            $('#addAnnotationModal').modal({
                backdrop: 'static',
                keyboard: false,
                'data-keyboard': false
            });
            $scope.draw_modal_image_selection();
        }

        $scope.draw_modal_image_selection = function () {
            var timer = $timeout(function () {
                $scope.draw_selection($scope.edit_annotation);
            }, 1000, true);
        };

        $scope.on_modal_image_loaded = function () {
            console.log("on_modal_image_loaded");
            $scope.draw_selection($scope.edit_annotation);
        };

        $scope.draw_selection = function ($annotaton) {
            var photo_id = '#photo';
            var width = $(photo_id).width();
            var height = $(photo_id).height();

            var _x1 = parseInt($annotaton.x1) * width / parseInt($annotaton.w);
            var _y1 = parseInt($annotaton.y1) * height / parseInt($annotaton.h);
            var _x2 = parseInt($annotaton.x2) * width / parseInt($annotaton.w);
            var _y2 = parseInt($annotaton.y2) * height / parseInt($annotaton.h);

            _x1 = _x1 < width ? parseInt(_x1) : width - 1;
            _y1 = _y1 < height ? parseInt(_y1) : height - 1;
            _x2 = _x2 < width ? parseInt(_x2) : width - 1;
            _y2 = _y2 < height ? parseInt(_y2) : height - 1;

            $(photo_id).imgAreaSelect({
                handles: true,
                fadeSpeed: 200,
                parent: '.modal-content',
                show: true,
                onSelectChange: $scope.preview,
                x1: _x1,
                y1: _y1,
                x2: _x2,
                y2: _y2
            });
        };

        $scope.delete_annotation_click = function() {
            $http({
                method:'post',
                url:'/dl/class/delete_annotation',
                data: $scope.edit_annotation
            }).success(function(req){
                // $('#addAnnotationModal').modal('hide');
                $scope.reload_annotation();
                $scope.annotation_next_click();
            });
        };

        $scope.new_annotation_save_click = function(){
            if ($scope.edit_annotation.new){
                $scope.edit_annotation.id = -1;
            }
            $http({
                method:'post',
                url:'/dl/model/save',
                data: $scope.edit_annotation
            }).success(function(req){
                if ($scope.edit_annotation.new == true){
                    $scope.reload_class_list();
                    $scope.new_annotation_reload_click();
                    $scope.reload_annotation();
                }else{
                    $('#addAnnotationModal').modal('hide');
                    $scope.reload_annotation();
                }
            });
        };

        $scope.new_annotation_reload_click = function () {
            $http.get('/dl/class/add_from_weights/weights_id/' + $scope.selected.weights.id + '/movie_id/' + $scope.selected.class.movie_id + '/class_id/' + $scope.selected.class.id + '/confidence/' + $scope.selected.confidence.value + '/total/1').success(
                function (data, status, headers, config) {
                    $scope.new_annotation_data = data;
                    $scope.edit_annotation = $scope.new_annotation_data.data;
                    $scope.edit_annotation.new = true;
                    $scope.show_modal();
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.confidence_select = function ($confidence) {
            $scope.selected.confidence = $confidence;
            $scope.new_annotation_reload_click();
        };

        $scope.preview = function (img, selection) {
            if (!selection.width || !selection.height)
                return;
            if ($scope.next == true){
                $scope.next = false;
                return;
            }

            var photo_id = '#photo';
            $scope.selection = selection;
            $(photo_id).data('selection', selection);
            var width = $(photo_id).width();
            var height = $(photo_id).height();
            $scope.edit_annotation.dirty = true;
            $scope.edit_annotation.x1 = parseInt(selection.x1 * parseInt($scope.edit_annotation.w) / width);
            $scope.edit_annotation.y1 = parseInt(selection.y1 * parseInt($scope.edit_annotation.h) / height);
            $scope.edit_annotation.x2 = parseInt(selection.x2 * parseInt($scope.edit_annotation.w) / width);
            $scope.edit_annotation.y2 = parseInt(selection.y2 * parseInt($scope.edit_annotation.h) / height);
            $scope.$apply();
            console.log(selection);
            // console.log($scope.edit_annotation);
        };

        $scope.on_frame_click = function ($annotation) {
            $scope.new_annotation_data = null;
            $scope.edit_annotation = $annotation;
            $scope.edit_annotation.new = false;
            $scope.show_modal();
        };

        $scope.find_detection = function ($annotation) {
            var i, anno;
            for (i = 0; i < $scope.annotations_data.annotations.length; i++) {
                if ($scope.annotations_data.annotations[i].id == $annotation.id) {
                    break;
                }
            }
            return i;
        }

        $scope.annotation_next_click = function () {
            if($scope.edit_annotation.dirty == true){
                $http({
                    method:'post',
                    url:'/dl/model/save',
                    data: $scope.edit_annotation
                }).success(function(req){
                    $scope.next = true;
                    $scope.load_edit_annotation($scope.find_detection($scope.edit_annotation) + 1);
                });
            }else{
                $scope.load_edit_annotation($scope.find_detection($scope.edit_annotation) + 1);
            }
        };

        $scope.annotation_prev_click = function () {
            if($scope.edit_annotation.dirty == true){
                $http({
                    method:'post',
                    url:'/dl/model/save',
                    data: $scope.edit_annotation
                }).success(function(req){
                    $scope.next = true;
                    $scope.load_edit_annotation($scope.find_detection($scope.edit_annotation) - 1);
                });
            }else{
                $scope.load_edit_annotation($scope.find_detection($scope.edit_annotation) - 1);
            }
        };

        $scope.load_edit_annotation = function ($index) {
            $scope.edit_index = $index;
            $scope.edit_annotation = $scope.annotations_data.annotations[$index];
            $scope.edit_annotation.new = false;
        }


    });

</script>

</html>