<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/dl/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dl/css/style.min.css" rel="stylesheet"/>
    <link href="/dl/css/style-responsive.min.css" rel="stylesheet"/>
    <link href="/dl/css/fontawesome-all.min.css" rel="stylesheet"/>
    <link href="/dl/css/jquery-ui.min.css" rel="stylesheet"/>
    <link href="/dl/css/default.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/dl/css/imgareaselect-animated.css">
</head>

<body data-gr-c-s-loaded="true" class="  pace-done">
<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<!-- begin #page-loader -->
<div id="page-loader" class="fade show d-none"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed show has-scroll">

    <include file="Public:header"/>
    <include file="Public:sidebar"/>

    <!-- begin #content -->
    <div id="content" class="content" ng-app="app" ng-controller="controller">
        <include file="Public:modal_add_annotation" modal_title="Add Annotations"/>

        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item active">Model</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Model</h1>
        <!-- end page-header -->

        <!-- begin row -->
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-lg-4 ui-sortable">
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading ui-sortable-handle">
                        <include file="Public:panel-heading-btn"/>
                        <h4 class="panel-title">Model List ({{model_list_data.models.length}})</h4>
                    </div>
                    <div class="panel-body pt-2 pl-2 pr-2 pb-0">
                        <div class="row pt-2 pb-2">
                            <div class="col-md-12">
                                                       <span class="gallery-option-set">
                                                            <a ng-repeat="cls in model_class_list_data"
                                                               class="btn btn-default"
                                                               ng-class="{true:'active', false:''}[cls.classes==selected.model_class.classes]"
                                                               ng-click="model_class_select(cls)">Class_{{cls.classes}}</a></li>
                                                        </span>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <!--<th>IMDB ID</th>-->
                                    <th>Name</th>
                                    <th>Subtotal</th>
                                    <th>Classes</th>
                                    <!--<th>Action</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="model in model_list_data.models | filter:{classes:selected.model_class.classes}" ng-click="model_list_click(model)"
                                    ng-class="{'active' : model.id == selected.model.id}">
                                    <td><span class="badge badge-secondary">{{model.id}}</span></td>
                                    <!--<td>{{movie.imdb_id}}</td>-->
                                    <td><button class="btn btn-info btn-xs">{{model.name}}</button></td>
                                    <td>{{model.subtotal}}</td>
                                    <td><span ng-show="model.class_cnt>0">{{model.class_cnt}}</span></td>
                                    <!--<td>-->
                                    <!--<button type="button"-->
                                    <!--class="btn btn-xs btn-primary"-->
                                    <!--ng-click="create_package_click(model)">Create Training Package-->
                                    <!--</button>-->
                                    <!--</td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="index-2">
                    <div class="panel-heading ui-sortable-handle">
                        <include file="Public:panel-heading-btn"/>
                        <h4 class="panel-title">Class List ({{model_class_data.classes.length}})</h4>
                    </div>
                    <div class="panel-body p-t-0">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Class</th>
                                    <!--<th>IMDB ID</th>-->
                                    <th>Name</th>
                                    <th>Training Data</th>
                                    <th>Testing Data</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="class in model_class_data.classes" ng-click="class_list_click(class)"
                                    ng-class="{'active' : class.id == selected.class.id}">
                                    <td><span class="badge badge-secondary">{{class.id}}</span></td>
                                    <td class="with-img"><img
                                            ng-src="/projects/{{class.movie_id}}/thumb_frame/{{class.movie_id}}_{{('00000'+class.frame_index).slice(-6)}}.JPEG"
                                            class="rounded-corner height-30 width-30">
                                    </td>
                                    <!--<td>{{movie.imdb_id}}</td>-->
                                    <td>{{class.name}}</td>
                                    <td><span>{{class.training_data_cnt}}</span></td>
                                    <td><span>{{class.testing_data_cnt}}</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end panel -->

                <div class="panel panel-inverse">
                    <div class="panel-heading ui-sortable-handle">
                        <include file="Public:panel-heading-btn"/>
                        <h4 class="panel-title">Scripts</h4>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-success">
                            {{createTrainingPackage}}
                        </div>
                        <div class="alert alert-warning">
                            {{insert_model_classes}}
                        </div>
                        <!--<div class="alert alert-warning">-->
                            <!--{{addTrainingData}}-->
                        <!--</div>-->
                        <div class="alert alert-info">
                            {{addTestingData}}
                        </div>
                        <div class="alert alert-danger">
                            {{report_dataset}}
                        </div>
                    </div>
                </div>
                <!-- end panel -->

            </div>
            <!-- end col-4 -->
            <!-- begin col-8 -->
            <div class="col-lg-8 ui-sortable">

                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading ui-sortable-handle">
                        <div class="panel-heading-btn">
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-default"
                               data-click="panel-expand" ng-click="reload_annotation()"><i class="fa fa-expand"></i></a>
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-success"
                               data-click="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-warning"
                               data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Training Data - {{selected.model.name}} - {{selected.class.name}}</h4>
                    </div>
                    <div class="panel-body">
                        <div class="m-b-10">
                                            <span class="gallery-option-set"><a class="btn btn-default btn-xs"
                                                                                ng-click="add_training_annotation()">Add Annotation ({{selected.class.name}})</a></span>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                                       <span class="gallery-option-set">
                                                            <a ng-repeat="page in annotations_data.pages"
                                                               class="{{page.class}}" ng-click="
                                                               load_training_data(page.name)">{{page.title}}</a></li>
                                                        </span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">

                            <div class="col-md-3 pt-0 pl-1 pr-1 pb-0"
                                 ng-repeat="annotation in annotations_data">
                                <div id="card_{{annotation.id}}" class="card card-inverse mb-2">
                                    <img id="img_{{annotation.id}}" class="card-img"
                                         imageonload="on_image_loaded(annotation)"
                                         ng-click="on_frame_click(annotation)" style="display: block;"
                                         ng-src="/projects/{{annotation.movie_id}}/thumb_frame/{{annotation.movie_id}}_{{('00000'+annotation.frame_index).slice(-6)}}.JPEG">
                                    <div id="info_{{annotation.id}}" class="card-img-overlay"
                                         ng-click="on_frame_click(annotation)">
                                        <h6 class="card-title">{{(annotation.frame_index)*41.84 -
                                            16*60*60*1000 |
                                            date:'HH:mm:ss.sss'}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                </div>
                <!-- end panel -->
            </div>
        </div>
        <!-- end col-8 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
</div>
<!-- end page container -->

</body>
<script src="/dl/js/jquery-3.2.1.min.js"></script>
<script src="/dl/js/jquery-ui.min.js"></script>
<script src="/dl/bootstrap-4.0.0/dist/js/bootstrap.bundle.js"></script>
<script src="/dl/js/angular.min.js"></script>
<script src="/dl/js/jquery.slimscroll.min.js"></script>
<script src="/dl/js/jquery.imgareaselect.js"></script>
<script src="/dl/js/apps.min.js"></script>

<script>
    // $(document).ready(function () {
    //     FormWizard.init();
    //     App.init();
    // });

    var app = angular.module('app', []);
    app.directive('imageonload', function () {
        return {
            restrict: 'A',
            link: function (scope, element, attrs) {
                element.bind('load', function () {
                    scope.$apply(attrs.imageonload);
                });
            }
        };
    });
    app.controller('controller', function ($scope, $http, $timeout) {

        $scope.selected = [];
        $scope.selected.page = 0;
        $scope.selected.training_data_total = 0;

        $http.get('/dl/model/get_models').success(
            function (data, status, headers, config) {
                $scope.model_list_data = data;
                $scope.selected.model = data.models[0];
                $scope.get_model_classes();
            }).error(function (data, status, headers, config) {
        });

        $http.get('/dl/weights/get_models_class_cnt_list').success(
            function (data, status, headers, config) {
                $scope.model_class_list_data = data;
                $scope.selected.model_class = data[0];
            }).error(function (data, status, headers, config) {
        });

        $scope.model_class_select = function ($class) {
            $scope.selected.model_class = $class;
        };

        App.init();

        $scope.model_list_click = function ($model) {
            $scope.selected.model = $model;
            $scope.get_model_classes();
        };

        $scope.get_model_classes = function () {
            $http.get('/dl/model/get_model_classes/model_id/' + $scope.selected.model.id).success(
                function (data, status, headers, config) {
                    $scope.model_class_data = data;
                    if (data.classes.length > 0) {
                        $scope.selected.class = data.classes[0];
                        $scope.load_training_data($scope.selected.page);
                    } else {
                        $scope.selected.class = null;
                    }
                }).error(function (data, status, headers, config) {
            });
            $scope.load_testing_data();
            $scope.get_action();
        };

        $scope.on_frame_click = function ($annotation) {
            $scope.edit_annotation = $annotation;
            $scope.edit_annotation.new = false;
            $scope.show_modal();
        };

        $scope.draw_modal_image_selection = function () {
            var timer = $timeout(function () {
                $scope.draw_selection($scope.edit_annotation);
            }, 1000, true);
        };

        $scope.on_modal_image_loaded = function () {
            console.log("on_modal_image_loaded");
            $scope.draw_selection($scope.edit_annotation);
        };

        $scope.draw_selection = function ($annotaton) {
            var photo_id = '#photo';
            var width = $(photo_id).width();
            var height = $(photo_id).height();

            var _x1 = parseInt($annotaton.x1) * width / parseInt($annotaton.w);
            var _y1 = parseInt($annotaton.y1) * height / parseInt($annotaton.h);
            var _x2 = parseInt($annotaton.x2) * width / parseInt($annotaton.w);
            var _y2 = parseInt($annotaton.y2) * height / parseInt($annotaton.h);

            _x1 = _x1 < width ? parseInt(_x1) : width;
            _y1 = _y1 < height ? parseInt(_y1) : height;
            _x2 = _x2 < width ? parseInt(_x2) : width;
            _y2 = _y2 < height ? parseInt(_y2) : height;

            $(photo_id).imgAreaSelect({
                handles: true,
                fadeSpeed: 200,
                parent: '.modal-content',
                show: true,
                onSelectChange: $scope.preview,
                x1: _x1,
                y1: _y1,
                x2: _x2,
                y2: _y2
            });
        };

        $scope.preview = function (img, selection) {
            if (!selection.width || !selection.height)
                return;
            var photo_id = '#photo';
            $scope.selection = selection;
            $(photo_id).data('selection', selection);
            var width = $(photo_id).width();
            var height = $(photo_id).height();
            $scope.edit_annotation.dirty = true;
            $scope.edit_annotation.x1 = parseInt(selection.x1 * parseInt($scope.edit_annotation.w) / width);
            $scope.edit_annotation.y1 = parseInt(selection.y1 * parseInt($scope.edit_annotation.h) / height);
            $scope.edit_annotation.x2 = parseInt(selection.x2 * parseInt($scope.edit_annotation.w) / width);
            $scope.edit_annotation.y2 = parseInt(selection.y2 * parseInt($scope.edit_annotation.h) / height);
            $scope.$apply();
            console.log(selection);
            // console.log($scope.edit_annotation);
        };


        $scope.on_image_loaded = function ($annotation) {
            // console.log($annotation.id + ': x1=' + $annotation.x1);
            var id = $annotation.id;
            var img_name = '' + id;
            $scope.draw(img_name,
                $annotation.w,
                $annotation.h,
                $annotation.x1,
                $annotation.y1,
                $annotation.x2,
                $annotation.y2);
        };

        $scope.draw = function ($name, w, h, x1, y1, x2, y2) {

            var img = document.getElementById('card_' + $name);

            img.removeChild(img.childNodes[4]);

            var width = $('#img_' + $name).width();
            var height = $('#img_' + $name).height();

            // var info_height = $('#info_' + $name).height();

            var offsetx = 0;
            var offsety = 0;

            var cx = x1 * (width - offsetx) / w;
            var cy = y1 * (height - offsety) / h;
            var cw = (x2 - x1) * (width - offsetx) / w;
            var ch = (y2 - y1) * (height - offsety) / h;

            // var cx = x1;
            // var cy = y1;
            // var cw = (x2 - x1);
            // var ch = (y2 - y1);

            var canvas = document.createElement('canvas'); //Create a canvas element
            //Set canvas width/height
            // canvas.style.width = '100%';
            // canvas.style.height = '100%';
            //Set canvas drawing area width/height
            canvas.width = width;
            canvas.height = height;
            //Position canvas
            canvas.style.position = 'absolute';
            canvas.style.left = 0;
            canvas.style.top = 0;
            canvas.style.zIndex = 2;
            canvas.style.pointerEvents = 'none'; //Make sure you can click 'through' the canvas

            img.appendChild(canvas);
            // var img = $('#' + $name);
            // img.append(canvas); //Append canvas to body element
            var context = canvas.getContext('2d');
            //Draw rectangle
            context.strokeStyle = 'red';
            context.lineWidth = 2;
            // context.strokeRect(0, 0, width, height - offsety);
            context.strokeRect(cx, cy, cw - 1, ch - 1);
        };

        $scope.reload_annotation = function () {
            $scope.annotations_data = null;
            $scope.load_training_data($scope.selected.page);
        };

        $scope.class_list_click = function ($class) {
            $scope.selected.class = $class;
            $scope.load_training_data(0);
            $scope.load_testing_data();
        };

        $scope.show_modal = function () {
            $('#addAnnotationModal').modal({
                backdrop: 'static',
                keyboard: false,
                'data-keyboard': false
            });
            $scope.draw_modal_image_selection();
        }

        $scope.add_training_annotation = function () {
            $http.get('/dl/model/add_one_training_data/model_id/' + $scope.selected.model.id + '/movie_id/' + $scope.selected.class.movie_id + '/class_id/' + $scope.selected.class.id + '/total/1').success(
                function (data, status, headers, config) {
                    $scope.new_annotation_data = data;
                    $scope.edit_annotation = $scope.new_annotation_data.data;
                    $scope.edit_annotation.new = true;
                    $scope.show_modal();
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.new_annotation_reload_click = function () {
            $http.get('/dl/model/add_one_training_data/model_id/' + $scope.selected.model.id + '/movie_id/' + $scope.selected.class.movie_id + '/class_id/' + $scope.selected.class.id + '/total/1').success(
                function (data, status, headers, config) {
                    $scope.new_annotation_data = data;
                    $scope.edit_annotation = $scope.new_annotation_data.data;
                    $scope.edit_annotation.new = true;
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.add_new_training_annotation = function () {
            $http.get('/dl/model/add_one_training_data_save/model_id/' + $scope.selected.model.id + '/annotation_id/' + $scope.new_annotation_data.data.id).success(
                function (data, status, headers, config) {
                    $scope.load_training_data($scope.selected.page);
                    $scope.new_annotation_reload_click();
                    $http.get('/dl/model/get_model_classes/model_id/' + $scope.selected.model.id).success(
                        function (data, status, headers, config) {
                            $scope.model_class_data = data;
                        }).error(function (data, status, headers, config) {
                    });
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.delete_annotation_click = function () {
            $http({
                method: 'post',
                url: '/dl/model/delete',
                data: $scope.edit_annotation
            }).success(function (req) {
                $('#addAnnotationModal').modal('hide');
                $scope.reload_annotation();
            });
        };

        $scope.new_annotation_save_click = function () {
            $http({
                method: 'post',
                url: '/dl/model/save',
                data: $scope.edit_annotation
            }).success(function (req) {
                if ($scope.edit_annotation.new == true) {
                    $scope.add_new_training_annotation();
                } else {
                    $('#addAnnotationModal').modal('hide');
                    $scope.reload_annotation();
                }
            });
        };

        $scope.load_training_data = function ($page) {
            $http.get('/dl/model/get_training_data/model_id/' + $scope.selected.model.id + '/class_id/' + $scope.selected.class.id + '/page/' + $page).success(
                function (data, status, headers, config) {
                    $scope.annotations_data = data;
                    $scope.selected.training_data_total = data.training_data_total;
                    $scope.selected.page = $page;
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.load_testing_data = function () {
            if ($scope.selected.class == undefined) {
                return;
            }
            $http.get('/dl/model/get_testing_data/model_id/' + $scope.selected.model.id + '/class_id/' + $scope.selected.class.id).success(
                function (data, status, headers, config) {
                    $scope.testing_data = data;
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.get_action = function () {
            $scope.createTrainingPackage = "sudo python /ai_dl/python/dl_create_training_package.py -m " + $scope.selected.model.id + " -o ../weights/" + $scope.selected.model.id;
            $http.get('/dl/model/get_action/model_id/' + $scope.selected.model.id).success(
                function (data, status, headers, config) {
                    $scope.addTrainingData = data.training_data;
                    $scope.addTestingData = data.testing_data;
                    $scope.report_dataset = data.report_dataset;
                    $scope.insert_model_classes = data.insert_model_classes;
                    // $scope.get_model_classes();
                }).error(function (data, status, headers, config) {
            });
        };

    });

</script>

</html>