<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/dl/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dl/css/style.min.css" rel="stylesheet"/>
    <link href="/dl/css/style-responsive.min.css" rel="stylesheet"/>
    <link href="/dl/css/fontawesome-all.min.css" rel="stylesheet"/>
    <link href="/dl/css/jquery-ui.min.css" rel="stylesheet"/>
    <link href="/dl/css/default.css" rel="stylesheet"/>
    <link href="/dl/css/smart_wizard.css" rel="stylesheet"/>
    <link href="/dl/css/c3.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/dl/css/imgareaselect-animated.css">
</head>

<body data-gr-c-s-loaded="true" class="  pace-done">
<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<!-- begin #page-loader -->
<div id="page-loader" class="fade show d-none"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed show has-scroll">

    <include file="Public:header"/>
    <include file="Public:sidebar"/>

    <!-- begin #content -->
    <div id="content" class="content" ng-app="app" ng-controller="controller">
        <include file="Public:modal_add_annotation" modal_title="Add Annotations"/>

        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item active">Report</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Report</h1>
        <!-- end page-header -->

        <!-- begin row -->
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-lg-4 ui-sortable">
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading ui-sortable-handle">
                        <include file="Public:panel-heading-btn"/>
                        <h4 class="panel-title">Report Datasets List ({{report_list_data.reports.length}})</h4>
                    </div>
                    <div class="panel-body pt-2 pl-2 pr-2 pb-0">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Total Images</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="report in report_list_data.reports" ng-click="report_list_click(report)"
                                    ng-class="{'active' : report.id == selected.report.id}">
                                    <td><span class="badge badge-secondary">{{report.id}}</span></td>
                                    <td>{{report.name}}</td>
                                    <td>{{report.report_data_cnt}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="index-2">
                    <div class="panel-heading ui-sortable-handle">
                        <include file="Public:panel-heading-btn"/>
                        <h4 class="panel-title">Class List ({{report_class_data.classes.length}})</h4>
                    </div>
                    <div class="panel-body p-t-0">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Class</th>
                                    <!--<th>IMDB ID</th>-->
                                    <th>Name</th>
                                    <th>Total Images</th>
                                    <!--<th>Testing Data</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="class in report_class_data.classes" ng-click="class_list_click(class)"
                                    ng-class="{'active' : class.id == selected.class.id}">
                                    <td><span class="badge badge-secondary">{{class.id}}</span></td>
                                    <td class="with-img"><img
                                            ng-src="/projects/{{class.movie_id}}/thumb_frame/{{class.movie_id}}_{{('00000'+class.frame_index).slice(-6)}}.JPEG"
                                            class="rounded-corner height-30 width-30">
                                    </td>
                                    <td>{{class.name}}</td>
                                    <td>{{class.class_data_cnt}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="index-3">
                    <div class="panel-heading ui-sortable-handle">
                        <include file="Public:panel-heading-btn"/>
                        <h4 class="panel-title">Model List ({{model_list_data.models.length}})</h4>
                    </div>
                    <div class="panel-body pt-2 pl-2 pr-2 pb-0">
                        <div class="row pt-2 pb-2">
                            <div class="col-md-12">
                                                       <span class="gallery-option-set">
                                                            <a ng-repeat="cls in model_class_list_data"
                                                               class="btn btn-default"
                                                               ng-class="{true:'active', false:''}[cls.classes==selected.model_class.classes]"
                                                               ng-click="model_class_select(cls)">Class_{{cls.classes}}</a></li>
                                                        </span>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <!--<th>IMDB ID</th>-->
                                    <th>Name</th>
                                    <!--<th>Method</th>-->
                                    <th>Class Cnt</th>
                                    <th>Weights Cnt</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="model in model_list_data.models | filter:{classes:selected.model_class.classes}" ng-click="model_list_click(model)"
                                    ng-class="{'active' : model.id == selected.model.id}">
                                    <td><span class="badge badge-secondary">{{model.id}}</span></td>
                                    <!--<td>{{movie.imdb_id}}</td>-->
                                    <td><button class="btn btn-info btn-xs">{{model.name}}</button></td>
                                    <!--<td>{{model.system}}</td>-->
                                    <td>{{model.class_cnt}}</td>
                                    <td>{{model.weights_cnt}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="index-4">
                    <div class="panel-heading ui-sortable-handle">
                        <include file="Public:panel-heading-btn"/>
                        <h4 class="panel-title">Weights List ({{model_weights_data.weights.length}})</h4>
                    </div>
                    <div class="panel-body p-t-0">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <!--<th>Path</th>-->
                                    <th>Action</th>
                                    <th>Pending</th>
                                    <th>Results</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="weight in model_weights_data.weights"
                                    ng-click="weights_list_click(weight)"
                                    ng-class="{'active' : weight.id == selected.weights.id}">
                                    <td>{{weight.name}}</td>
                                    <!--<td>{{weight.path}}</td>-->
                                    <td>
                                        <button id="verify_frame_btn_{{weight.id}}" type="button"
                                                class="btn btn-xs btn-primary"
                                                ng-show="weight.results_cnt==0 || eight.verify_cnt==0"
                                                ng-click="create_report_data(weight)">Create Report Data
                                        </button>
                                    </td>
                                    <td><span class="badge badge-danger" ng-show="weight.verify_cnt>0">{{weight.verify_cnt}}</span>
                                    <td><span class="badge badge-lime" ng-show="weight.results_cnt>0">{{weight.results_cnt}}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-4 -->
            <!-- begin col-8 -->
            <div class="col-lg-8 ui-sortable">

                <div class="row">
                    <div class="col-lg-6 ui-sortable" ng-repeat="report in chart_data_10000">
                        <!-- begin panel -->
                        <div class="panel panel-inverse">
                            <div class="panel-heading ui-sortable-handle">
                                <div class="panel-heading-btn">
                                    <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-default"
                                       data-click="panel-expand" ng-click="reload_annotation()"><i class="fa fa-expand"></i></a>
                                    <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-success"
                                       data-click="panel-reload" ng-click="reload_report()"><i class="fa fa-redo"></i></a>
                                    <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-warning"
                                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                </div>
                                <h4 class="panel-title">Report Chart - <span class="badge badge-warning">T10000</span> - <span class="badge badge-lime">C{{report.classes}}x{{report.subtotal}}</span>
                                   </h4>
                            </div>
                            <div class="panel-body pt-2 pl-2 pr-2 pb-0">
                                <div style="width: 100%" id="mychart_10000_{{report.id}}">
                                </div>
                            </div>
                        </div>
                        <!-- end panel -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 ui-sortable" ng-repeat="report in chart_data_20000">
                        <!-- begin panel -->
                        <div class="panel panel-inverse">
                            <div class="panel-heading ui-sortable-handle">
                                <div class="panel-heading-btn">
                                    <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-default"
                                       data-click="panel-expand" ng-click="reload_annotation()"><i class="fa fa-expand"></i></a>
                                    <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-success"
                                       data-click="panel-reload" ng-click="reload_report()"><i class="fa fa-redo"></i></a>
                                    <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-warning"
                                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                </div>

                                <h4 class="panel-title">Report Chart - <span class="badge badge-warning">T20000</span> - <span class="badge badge-lime">C{{report.classes}}x{{report.subtotal}}</span>
                                    </h4>
                            </div>
                            <div class="panel-body pt-2 pl-2 pr-2 pb-0">
                                <div style="width: 100%" id="mychart_20000_{{report.id}}">
                                </div>
                            </div>
                        </div>
                        <!-- end panel -->
                    </div>
                </div>

                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading ui-sortable-handle">
                        <div class="panel-heading-btn">
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-default"
                               data-click="panel-expand" ng-click="reload_annotation()"><i class="fa fa-expand"></i></a>
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-success"
                               data-click="panel-reload" ng-click="reload_report()"><i class="fa fa-redo"></i></a>
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-warning"
                               data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Report List [{{selected.report.name}}] - [Class_{{selected.report_class.classes}}]</h4>
                    </div>
                    <div class="panel-body pt-2 pl-2 pr-2 pb-0">
                        <div class="row pt-2 pb-2">
                            <div class="col-md-12">
                                                       <span class="gallery-option-set">
                                                            <a ng-repeat="cls in model_class_list_data"
                                                               class="btn btn-default"
                                                               ng-class="{true:'active', false:''}[cls.classes==selected.report_class.classes]"
                                                               ng-click="report_class_select(cls)">Class_{{cls.classes}}</a></li>
                                                        </span>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Weights Name</th>
                                    <th>Class Count</th>
                                    <th>Class Annotations</th>
                                    <th>Testing Data</th>
                                    <th>True Positive</th>
                                    <th>True Negative</th>
                                    <th>False Positive</th>
                                    <th>False Negative</th>
                                    <th>Percision</th>
                                    <th>Recall</th>
                                    <th>F1</th>
                                    <!--<th>mAP</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="reoort in report_results | filter:{classes:selected.report_class.classes}| filter:{training:10000}">
                                    <td>{{reoort.name}}</td>
                                    <td>{{reoort.classes}}</td>
                                    <td>{{reoort.subtotal}}</td>
                                    <td>{{selected.report.classes}} x {{selected.report.subtotal}}</td>
                                    <td>{{reoort.tp}}</td>
                                    <td>{{reoort.tn}}</td>
                                    <td>{{reoort.fp}}</td>
                                    <td>{{reoort.fn}}</td>
                                    <td>{{reoort.percision | number :3}}</td>
                                    <td>{{reoort.recall | number :3}}</td>
                                    <td>{{reoort.f1 | number :3}}</td>
                                    <!--<td>{{reoort.map | number :3}}</td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end panel -->

                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading ui-sortable-handle">
                        <div class="panel-heading-btn">
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-default"
                               data-click="panel-expand" ng-click="reload_annotation()"><i class="fa fa-expand"></i></a>
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-success"
                               data-click="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:" class="btn btn-xs btn-icon btn-circle btn-warning"
                               data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Report Data [{{selected.report.name}}] - Class [{{selected.class.name}}] - Model [{{selected.model.name}}]</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                                       <span class="gallery-option-set">
                                                            <a ng-repeat="page in pages"
                                                               class="{{page.class}}" ng-click="
                                                               load_report_dataset(page.name)">{{page.title}}</a></li>
                                                        </span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">

                            <div class="col-md-3 pt-0 pl-1 pr-1 pb-0"
                                 ng-repeat="annotation in annotations_data">
                                <div id="card_{{annotation.id}}" class="card card-inverse mb-2">
                                    <img id="img_{{annotation.id}}" class="card-img"
                                         imageonload="on_image_loaded(annotation)"
                                         ng-click="on_frame_click(annotation)" style="display: block;"
                                         ng-src="/projects/{{annotation.movie_id}}/thumb_frame/{{annotation.movie_id}}_{{('00000'+annotation.frame_index).slice(-6)}}.JPEG">
                                    <div id="info_{{annotation.id}}" class="card-img-overlay"
                                         ng-click="on_frame_click(annotation)">
                                        <h6 class="card-title"><span class="label label-primary">{{(annotation.frame_index)*41.84 -
                                            16*60*60*1000 |
                                            date:'HH:mm:ss.sss'}}</span></h6>
                                    </div>

                                    <div class="card-img-overlay"
                                         ng-click="on_frame_click(annotation)">
                                        <h5 class="card-title float-right"><span class="label label-info">{{annotation.class_id}}</span> <span class="label" ng-class="{true:'label-lime', false:'label-danger'}[annotation.iou > 0.5]">{{annotation.iou | number:2}}</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end panel -->

            </div>
        </div>
        <!-- end col-8 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
</div>
<!-- end page container -->

</body>
<script src="/dl/js/jquery-3.2.1.min.js"></script>
<script src="/dl/js/jquery-ui.min.js"></script>
<script src="/dl/bootstrap-4.0.0/dist/js/bootstrap.bundle.js"></script>
<script src="/dl/js/angular.min.js"></script>
<script src="/dl/js/jquery.slimscroll.min.js"></script>
<script src="/dl/js/jquery.imgareaselect.js"></script>
<script src="/dl/js/jquery.smartWizard.js"></script>
<script src="/dl/js/apps.min.js"></script>
<script src="/ai/js/d3.v4.min.js" charset="utf-8"></script>
<script src="/ai/js/c3.min.js"></script>
<script>
    // $(document).ready(function () {
    //     FormWizard.init();
    //     App.init();
    // });

    var app = angular.module('app', []);
    app.directive('imageonload', function () {
        return {
            restrict: 'A',
            link: function (scope, element, attrs) {
                element.bind('load', function () {
                    scope.$apply(attrs.imageonload);
                });
            }
        };
    });
    app.controller('controller', function ($scope, $http, $timeout) {
        $scope.confidences = [{id: 1, value: 0.1}, {id: 2, value: 0.2}, {id: 3, value: 0.3}, {
            id: 4,
            value: 0.4
        }, {id: 5, value: 0.5}, {id: 6, value: 0.6}, {id: 7, value: 0.7}, {
            id: 8,
            value: 0.8
        }, {id: 9, value: 0.9}];

        $scope.selected = [];
        $scope.selected.page = 0;
        $scope.selected.confidence = $scope.confidences[7];
        $scope.selected.training_data_total = 0;


        $http.get('/dl/weights/get_models_class_cnt_list').success(
            function (data, status, headers, config) {
                $scope.model_class_list_data = data;
                $scope.selected.model_class = data[0];
                $scope.selected.report_class = data[0];
            }).error(function (data, status, headers, config) {
        });

        $scope.model_class_select = function ($class) {
            $scope.selected.model_class = $class;
        };

        $scope.report_class_select = function ($class) {
            $scope.selected.report_class = $class;
        };

        $scope.get_reports = function () {
            $http.get('/dl/report/get_reports').success(
                function (data, status, headers, config) {
                    $scope.report_list_data = data;
                    if ($scope.selected.report == null) {
                        $scope.selected.report = data.reports[0];
                    }
                    $scope.get_report_classes();
                }).error(function (data, status, headers, config) {
            });
        }

        $scope.get_model = function () {
            $http.get('/dl/weights/get_models').success(
                function (data, status, headers, config) {
                    $scope.model_list_data = data;
                    if ($scope.selected.model == null) {
                        $scope.selected.model = data.models[0];
                    }
                    $scope.get_model_weights();
                }).error(function (data, status, headers, config) {
            });
            $scope.get_chart_data();
        }

        // $scope.imdb_id = 'tt0398286';
        "use strict";
        $("#wizard").smartWizard({
            selected: 0,
            theme: "default",
            transitionEffect: "",
            transitionSpeed: 0,
            useURLhash: !1,
            showStepURLhash: !1,
            toolbarSettings: {toolbarPosition: "bottom"}
        });

        $("#wizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection) {
            // return confirm("Do you want to leave the step "+stepNumber+"?");
            if (stepNumber == 0) {
                $http.get('http://www.omdbapi.com/?i=' + $scope.imdb_id + '&apikey=277d2395').success(
                    function (data, status, headers, config) {
                        $scope.imdb_data = data;
                        // $scope.imdb_data.video_file = 'T2ngl3d-2010-720p-hdp0pc0rns.mkv'
                    }).error(function (data, status, headers, config) {
                });
            } else if (stepNumber == 1) {
                $http({
                    method: 'post',
                    url: '/dl/movie/save',
                    data: $scope.imdb_data
                }).success(function (req) {
                    console.log(req);
                })
            }
        });
        App.init();

        $scope.model_list_click = function ($model) {
            $scope.selected.model = $model;
            $scope.get_model_weights();
        };

        $scope.get_model_weights = function () {
            $http.get('/dl/report/get_model_weights/model_id/' + $scope.selected.model.id).success(
                function (data, status, headers, config) {
                    $scope.model_weights_data = data;
                    $scope.selected.weights = data.weights[0];
                    $scope.get_reports();
                }).error(function (data, status, headers, config) {
            });
        };


        $scope.report_list_click = function ($report) {
            $scope.selected.report = $report;
            $scope.get_report_classes();
        };

        $scope.weights_list_click = function ($weights) {
            $scope.selected.weights = $weights;
        };

        $scope.get_report_classes = function () {
            $http.get('/dl/report/get_report_classes/report_id/' + $scope.selected.report.id).success(
                function (data, status, headers, config) {
                    $scope.report_class_data = data;
                    if (data.classes.length > 0) {
                        if ($scope.selected.class == null) {
                            $scope.selected.class = data.classes[0];
                        }
                        $scope.load_report_dataset($scope.selected.page);
                    } else {
                        $scope.selected.class = null;
                    }
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.on_frame_click = function ($annotation) {
            $scope.edit_annotation = $annotation;
            $scope.edit_annotation.new = false;
            $scope.show_modal();
        };

        $scope.draw_modal_image_selection = function () {
            var timer = $timeout(function () {
                $scope.draw_selection($scope.edit_annotation);
            }, 1000, true);
        };

        $scope.on_modal_image_loaded = function () {
            console.log("on_modal_image_loaded");
            $scope.draw_selection($scope.edit_annotation);
        };

        $scope.draw_selection = function ($annotaton) {
            var photo_id = '#photo';
            var width = $(photo_id).width();
            var height = $(photo_id).height();

            var _x1 = parseInt($annotaton.x1) * width / parseInt($annotaton.w);
            var _y1 = parseInt($annotaton.y1) * height / parseInt($annotaton.h);
            var _x2 = parseInt($annotaton.x2) * width / parseInt($annotaton.w);
            var _y2 = parseInt($annotaton.y2) * height / parseInt($annotaton.h);

            _x1 = _x1 < width ? parseInt(_x1) : width;
            _y1 = _y1 < height ? parseInt(_y1) : height;
            _x2 = _x2 < width ? parseInt(_x2) : width;
            _y2 = _y2 < height ? parseInt(_y2) : height;

            $(photo_id).imgAreaSelect({
                handles: true,
                fadeSpeed: 200,
                parent: '.modal-content',
                show: true,
                onSelectChange: $scope.preview,
                x1: _x1,
                y1: _y1,
                x2: _x2,
                y2: _y2
            });
        };

        $scope.preview = function (img, selection) {
            if (!selection.width || !selection.height)
                return;
            var photo_id = '#photo';
            $scope.selection = selection;
            $(photo_id).data('selection', selection);
            var width = $(photo_id).width();
            var height = $(photo_id).height();
            $scope.edit_annotation.dirty = true;
            $scope.edit_annotation.x1 = parseInt(selection.x1 * parseInt($scope.edit_annotation.w) / width);
            $scope.edit_annotation.y1 = parseInt(selection.y1 * parseInt($scope.edit_annotation.h) / height);
            $scope.edit_annotation.x2 = parseInt(selection.x2 * parseInt($scope.edit_annotation.w) / width);
            $scope.edit_annotation.y2 = parseInt(selection.y2 * parseInt($scope.edit_annotation.h) / height);
            $scope.$apply();
            console.log(selection);
            // console.log($scope.edit_annotation);
        };


        $scope.on_image_loaded = function ($annotation) {
            // console.log($annotation.id + ': x1=' + $annotation.x1);
            var id = $annotation.id;
            var img_name = '' + id;
            $scope.draw(img_name,
                $annotation.w,
                $annotation.h,
                $annotation.x1,
                $annotation.y1,
                $annotation.x2,
                $annotation.y2,
                2,
                'red');

            if ($annotation.result != null) {
                $scope.draw(img_name,
                    $annotation.w,
                    $annotation.h,
                    $annotation.result.x1,
                    $annotation.result.y1,
                    $annotation.result.x2,
                    $annotation.result.y2,
                    2,
                    'blue');
            }
        };

        $scope.draw = function ($name, w, h, x1, y1, x2, y2, lineWidth, $color) {

            var img = document.getElementById('card_' + $name);
            var width = $('#img_' + $name).width();
            var height = $('#img_' + $name).height();

            var offsetx = 0;
            var offsety = 0;

            var cx = x1 * (width - offsetx) / w;
            var cy = y1 * (height - offsety) / h;
            var cw = (x2 - x1) * (width - offsetx) / w;
            var ch = (y2 - y1) * (height - offsety) / h;

            var canvas = document.createElement('canvas'); //Create a canvas element
            //Set canvas width/height
            canvas.style.width = width;
            canvas.style.height = height;
            //Set canvas drawing area width/height
            canvas.width = width;
            canvas.height = height;
            //Position canvas
            canvas.style.position = 'absolute';
            canvas.style.left = 0;
            canvas.style.top = 0;
            canvas.style.zIndex = 2;
            canvas.style.pointerEvents = 'none'; //Make sure you can click 'through' the canvas

            img.appendChild(canvas);
            // var img = $('#' + $name);
            // img.append(canvas); //Append canvas to body element
            var context = canvas.getContext('2d');
            //Draw rectangle
            context.strokeStyle = $color;
            context.lineWidth = lineWidth;
            // context.strokeRect(0, 0, width-1, height-1);
            context.strokeRect(cx, cy, cw - 1, ch - 1);
        }

        $scope.reload_annotation = function () {
            $scope.annotations_data = null;
            $scope.load_report_dataset($scope.selected.page);
        };

        $scope.class_list_click = function ($class) {
            $scope.selected.class = $class;
            $scope.load_report_dataset(0);
        };

        $scope.load_report_dataset = function ($page) {
            if ($scope.selected.report != null && $scope.selected.weights != null){
                $http.get('/dl/report/get_report_data/report_id/' + $scope.selected.report.id + '/class_id/' + $scope.selected.class.id + '/weights_id/' + $scope.selected.weights.id + '/page/' + $page).success(
                    function (data, status, headers, config) {
                        $scope.annotations_data = data.annotations;
                        $scope.pages = data.pages;
                        $scope.selected.report_data_total = data.report_data_total;
                        $scope.selected.page = $page;
                    }).error(function (data, status, headers, config) {
                });
                $scope.get_report_results();
            }
        };

        $scope.show_modal = function () {
            $('#addAnnotationModal').modal({
                backdrop: 'static',
                keyboard: false,
                'data-keyboard': false
            });
            $scope.draw_modal_image_selection();
        }

        $scope.add_training_annotation = function () {
            $http.get('/dl/model/add_one_training_data/model_id/' + $scope.selected.model.id + '/movie_id/' + $scope.selected.class.movie_id + '/class_id/' + $scope.selected.class.id + '/total/1').success(
                function (data, status, headers, config) {
                    $scope.new_annotation_data = data;
                    $scope.edit_annotation = $scope.new_annotation_data.data;
                    $scope.edit_annotation.new = true;
                    $scope.show_modal();
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.new_annotation_reload_click = function () {
            $http.get('/dl/model/add_one_training_data/model_id/' + $scope.selected.model.id + '/movie_id/' + $scope.selected.class.movie_id + '/class_id/' + $scope.selected.class.id + '/total/1').success(
                function (data, status, headers, config) {
                    $scope.new_annotation_data = data;
                    $scope.edit_annotation = $scope.new_annotation_data.data;
                    $scope.edit_annotation.new = true;
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.add_new_training_annotation = function () {
            $http.get('/dl/model/add_one_training_data_save/model_id/' + $scope.selected.model.id + '/annotation_id/' + $scope.new_annotation_data.data.id).success(
                function (data, status, headers, config) {
                    $scope.load_report_dataset($scope.selected.page);
                    $scope.new_annotation_reload_click();
                    $http.get('/dl/model/get_model_classes/model_id/' + $scope.selected.model.id).success(
                        function (data, status, headers, config) {
                            $scope.model_class_data = data;
                        }).error(function (data, status, headers, config) {
                    });
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.delete_annotation_click = function () {
            $http({
                method: 'post',
                url: '/dl/model/delete',
                data: $scope.edit_annotation
            }).success(function (req) {
                $('#addAnnotationModal').modal('hide');
                $scope.reload_annotation();
            });
        };

        $scope.new_annotation_save_click = function () {
            $http({
                method: 'post',
                url: '/dl/model/save',
                data: $scope.edit_annotation
            }).success(function (req) {
                if ($scope.edit_annotation.new == true) {
                    $scope.add_new_training_annotation();
                } else {
                    $('#addAnnotationModal').modal('hide');
                    $scope.reload_annotation();
                }
            });
        };


        $scope.load_testing_data = function () {
            if ($scope.selected.class == undefined) {
                return;
            }
            $http.get('/dl/model/get_testing_data/model_id/' + $scope.selected.model.id + '/class_id/' + $scope.selected.class.id).success(
                function (data, status, headers, config) {
                    $scope.testing_data = data;
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.get_action = function () {
            $scope.createTrainingPackage = "sudo python /ai_dl/python/dl_create_training_package.py -m " + $scope.selected.model.id + " -o ../weights/" + $scope.selected.model.id;
            $http.get('/dl/model/get_action/model_id/' + $scope.selected.model.id).success(
                function (data, status, headers, config) {
                    $scope.addTrainingData = data.training_data;
                    $scope.addTestingData = data.testing_data;
                    $scope.report_dataset = data.report_dataset;
                    // $scope.get_model_classes();
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.create_report_data = function ($weights) {
            document.getElementById("verify_frame_btn_" + $weights.id).setAttribute("disabled", true);
            $http.get('/dl/report/add_testing_data/weights_id/' + $weights.id).success(
                function (data, status, headers, config) {
                    document.getElementById("verify_frame_btn_" + $weights.id).removeAttribute("disabled");
                    $scope.get_model_weights();
                }).error(function (data, status, headers, config) {
                document.getElementById("verify_frame_btn_" + $weights.id).removeAttribute("disabled");
                $scope.get_model_weights();
            });
        };

        $scope.reload_report = function () {
            $scope.report_results = null;
            $http.get('/dl/report/reload_report').success(
                function (data, status, headers, config) {
                    $scope.get_report_results();
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.get_report_results = function () {
            $http.get('/dl/report/get_report_results/report_id/' + $scope.selected.report.id + '/weights_id/' + $scope.selected.weights.id).success(
                function (data, status, headers, config) {
                    $scope.report_results = data;
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.get_chart_data = function () {
            $http.get('/dl/report/get_chart_data/training/10000').success(
                function (data, status, headers, config) {
                    $scope.chart_data_10000 = data;
                    var timer = $timeout(function () {
                        data.forEach(function(report) {
                            $scope.show_chart(report, 10000);
                        });
                        }, 500, true);
                }).error(function (data, status, headers, config) {
            });

            $http.get('/dl/report/get_chart_data/training/20000').success(
                function (data, status, headers, config) {
                    $scope.chart_data_20000 = data;
                    var timer = $timeout(function () {
                        data.forEach(function(report) {
                            $scope.show_chart(report, 20000);
                        });
                    }, 500, true);
                }).error(function (data, status, headers, config) {
            });
        }

        $scope.show_chart = function (report, training) {
            var min = 1;
            // var data_size = [
            //     // 5,10,25,50,100,200,400,500
            //     10,20,30,40,50,60
            // ];
            // var threshold = [0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9];

            var values = [];

            for (var $i=20; $i>=0; $i--){
                values.push(($i*0.050).toFixed(2));
            }

            var columns = [];
            // columns.push(['data_size'].concat(data_size));
            report.class_cnt_list.forEach(function(class_list) {
                var f = [];
                class_list.results.forEach(function(result) {
                    if (!(report.id == 2 && ((class_list.classes == 1) || (class_list.classes == 9)))){
                        if (min > result.f1)
                            min = result.f1;
                        f.push(result.f1);
                    }
                });
                if (!(report.id == 2 && ((class_list.classes == 1) || (class_list.classes == 9))))
                    columns.push(['Class (' + class_list.classes + ')'].concat(f));
            });


            var chart_id = '#mychart_'+ training + '_' + report['id'];
            var chart = c3.generate({
                bindto: chart_id,
                data: {
                    // x: 'data_size',
                    columns: columns,
                    type: 'spline'
                },
                axis: {
                    x: {
                        type : 'category',
                        label: 'Annotations',
                        categories: ['Class x25', 'Class x50', 'Class x100', 'Class x200', 'Class x400', 'Class x500'],
                        tick: {
                            centered: true
                        },
                        min:0
                    },
                    y: {
                        label: 'F1',
                        tick: {
                            values: values
                        },
                        max:1.0,
                        min:min
                    }
                },
                legend: {
                    show: true
                },
                grid: {
                    x: {
                        show: false
                    },
                    y: {
                        show: true
                    }
                }
            });
        };
        $scope.get_model();

    });

</script>

</html>