<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/dl/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dl/css/style.min.css" rel="stylesheet"/>
    <link href="/dl/css/style-responsive.min.css" rel="stylesheet"/>
    <link href="/dl/css/fontawesome-all.min.css" rel="stylesheet"/>
    <link href="/dl/css/jquery-ui.min.css" rel="stylesheet"/>
    <link href="/dl/css/default.css" rel="stylesheet"/>
    <link href="/dl/css/smart_wizard.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/dl/css/imgareaselect-animated.css">
</head>

<body data-gr-c-s-loaded="true" class="  pace-done">
<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<!-- begin #page-loader -->
<div id="page-loader" class="fade show d-none"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed show has-scroll">

    <include file="Public:header"/>
    <include file="Public:sidebar"/>

    <!-- begin #content -->
    <div id="content" class="content" ng-app="app" ng-controller="controller">
        <include file="Public:modal_add_annotation" modal_title="Add Annotations"/>

        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item active">Movie</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Movie</h1>
        <!-- end page-header -->

        <!-- begin row -->
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-lg-4 ui-sortable">
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading ui-sortable-handle">
                        <include file="Public:panel-heading-btn"/>
                        <h4 class="panel-title">Movie Detail</h4>
                    </div>
                    <div class="panel-body">
                        <div class="media">
                            <img src="{{selected.movie.poster}}" class="media-left" style="width: 40%">
                            <div class="media-body">
                                <h4 class="media-heading">{{selected.movie.title}} ({{selected.movie.year}})</h4>
                                {{selected.movie.plot}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="index-2">
                    <div class="panel-heading ui-sortable-handle">
                        <include file="Public:panel-heading-btn"/>
                        <h4 class="panel-title">Movie List ({{movie_list_data.movies.length}})</h4>
                    </div>
                    <div class="panel-body p-t-0">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Movie</th>
                                    <th>Title</th>
                                    <!--<th>Rating</th>-->
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="movie in movie_list_data.movies" ng-click="movie_list_click(movie)" ng-class="{'active' : movie.id == selected.movie.id}">
                                    <td><span class="badge badge-secondary">{{movie.id}}</span></td>
                                    <td class="with-img"><img ng-src="{{movie.poster}}" class="img-rounded height-30">
                                    </td>
                                    <td>{{movie.title}}({{movie.year}})</td>
                                    <!--<td><span class="btn btn-xs btn-success">{{movie.rating}}</span></td>-->
                                    <td><span class="btn btn-xs btn-info" ng-click="movie_download(movie)">Play</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading ui-sortable-handle">
                        <include file="Public:panel-heading-btn"/>
                        <h4 class="panel-title">Add New Movie</h4>
                    </div>
                    <div class="panel-body">
                        <div id="wizard" class="sw-main sw-theme-default">
                            <!-- begin wizard-step -->
                            <ul class="nav nav-tabs step-anchor">
                                <li class="col-md-4 col-sm-4 col-6 active">
                                    <a href="#step-1">
                                        <span class="number">1</span>
                                        <span class="info text-ellipsis">
									IMDB ID
								</span>
                                    </a>
                                </li>
                                <li class="col-md-4 col-sm-4 col-6">
                                    <a href="#step-2">
                                        <span class="number">2</span>
                                        <span class="info text-ellipsis">
									IMDB Info
								</span>
                                    </a>
                                </li>
                                <li class="col-md-4 col-sm-4 col-6">
                                    <a href="#step-3">
                                        <span class="number">3</span>
                                        <span class="info text-ellipsis">
									Create Frames
								</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- end wizard-step -->
                            <!-- begin wizard-content -->
                            <div class="sw-container tab-content" style="min-height: 366px;">
                                <!-- begin step-1 -->
                                <div id="step-1" class="step-content" style="display: block;">
                                    <!-- begin fieldset -->
                                    <fieldset>
                                        <!-- begin row -->
                                        <div class="row">
                                            <!-- begin col-8 -->
                                            <div class="col-md-8 offset-md-2">
                                                <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">
                                                    Enter IMDB ID
                                                </legend>
                                                <!-- begin form-group row -->
                                                <div class="form-group row m-b-10">
                                                    <label class="col-md-3 text-md-right col-form-label">imdb_id</label>
                                                    <div class="col-md-6">
                                                        <input type="text" name="imdb_id" class="form-control"
                                                               ng-model="imdb_id">
                                                    </div>
                                                </div>
                                                <!-- end form-group row -->
                                            </div>
                                            <!-- end col-8 -->
                                        </div>
                                        <!-- end row -->
                                    </fieldset>
                                    <!-- end fieldset -->
                                </div>
                                <!-- end step-1 -->
                                <!-- begin step-2 -->
                                <div id="step-2" class="step-content">
                                    <!-- begin fieldset -->
                                    <fieldset>
                                        <!-- begin row -->
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="card mb-4 box-shadow">
                                                    <img class="card-img-top" style="display: block;"
                                                         ng-src="{{imdb_data.Poster}}">
                                                </div>
                                            </div>

                                            <div class="col-md-8">
                                                <div class="form-group row m-b-10">
                                                    <label class="col-md-3 text-md-right col-form-label">Title</label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control"
                                                               ng-model="imdb_data.Title">
                                                    </div>
                                                </div>
                                                <div class="form-group row m-b-10">
                                                    <label class="col-md-3 text-md-right col-form-label">Year
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control"
                                                               ng-model="imdb_data.Year">
                                                    </div>
                                                </div>
                                                <div class="form-group row m-b-10">
                                                    <label class="col-md-3 text-md-right col-form-label">Actors
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control"
                                                               ng-model="imdb_data.Actors">
                                                    </div>
                                                </div>
                                                <div class="form-group row m-b-10">
                                                    <label class="col-md-3 text-md-right col-form-label">Plot
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control"
                                                               ng-model="imdb_data.Plot">
                                                    </div>
                                                </div>
                                                <div class="form-group row m-b-10">
                                                    <label class="col-md-3 text-md-right col-form-label">Rating
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control"
                                                               ng-model="imdb_data.imdbRating">
                                                    </div>
                                                </div>
                                                <div class="form-group row m-b-10">
                                                    <label class="col-md-3 text-md-right col-form-label">Video File
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control"
                                                               ng-model="imdb_data.video_file">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </fieldset>
                                    <!-- end fieldset -->
                                </div>
                                <!-- end step-2 -->
                                <!-- begin step-3 -->
                                <div id="step-3" class="step-content">
                                    <!-- begin fieldset -->
                                    <fieldset>
                                        <!-- begin row -->
                                        <div class="row">
                                            <!-- begin col-8 -->
                                            <div class="col-md-8 offset-md-2">
                                                <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">
                                                    Please run <a href="/dl/python/make_frame.py">make_frame.py</a> at
                                                    10.118.118.155/ai_dl/python
                                                </legend>
                                                <!-- begin form-group row -->
                                                <ul>
                                                    <li>Create 720x frames</li>
                                                    <li>Create 360x frames</li>
                                                    <li>Insert all frames data into database</li>
                                                </ul>
                                                <!-- end form-group row -->
                                            </div>
                                            <!-- end col-8 -->
                                        </div>
                                        <!-- end row -->
                                    </fieldset>
                                    <!-- end fieldset -->
                                </div>
                                <!-- end step-3 -->
                            </div>
                            <!-- end wizard-content -->
                        </div>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-4 -->
            <!-- begin col-8 -->
            <div class="col-lg-8 ui-sortable">

                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading ui-sortable-handle">
                        <include file="Public:panel-heading-btn"/>
                        <h4 class="panel-title">Movie Key Frames ({{data.frames.count}}) - {{selected.movie.title}} ({{selected.movie.year}})</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                                       <span class="gallery-option-set">
                                                            <a ng-repeat="page in data.pages"
                                                               class="{{page.class}}" ng-click="
                                                               get_movie_frame(page.name)">{{page.title}}</a></li>
                                                        </span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3 pt-0 pl-1 pr-1 pb-0" ng-repeat="frame in data.frames">

                                <div id="card_{{frame.id}}" class="card card-inverse mb-2">
                                    <img id="img_{{frame.id}}" class="card-img"
                                         imageonload="on_image_loaded(frame)"
                                         ng-click="on_frame_click(frame)"
                                         style="display: block;"
                                         ng-src="/projects/{{frame.movie_id}}/thumb_frame/{{frame.movie_id}}_{{('00000'+frame.frame_index).slice(-6)}}.JPEG">
                                    <div id="info_{{frame.id}}"
                                         ng-click="on_frame_click(frame)" class="card-img-overlay">
                                        <h6 class="card-title">{{(frame.frame_index)*41.84 - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</h6>
                                    </div>
                                    <div class="card-img-overlay"
                                         ng-click="on_frame_click(frame)" ng-show="frame.annotation.id != -1">
                                        <h6  class="btn btn-primary btn-xs float-right">Annotation</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- end panel -->
            </div>
            <!-- end col-8 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end #content -->
</div>
<!-- end page container -->

</body>
<script src="/dl/js/jquery-3.2.1.min.js"></script>
<script src="/dl/js/jquery-ui.min.js"></script>
<script src="/dl/bootstrap-4.0.0/dist/js/bootstrap.bundle.js"></script>
<script src="/dl/js/angular.min.js"></script>
<script src="/dl/js/jquery.slimscroll.min.js"></script>
<script src="/dl/js/jquery.imgareaselect.js"></script>
<script src="/dl/js/jquery.smartWizard.js"></script>
<script src="/dl/js/apps.min.js"></script>

<script>
    var app = angular.module('app', []);
    app.directive('imageonload', function () {
        return {
            restrict: 'A',
            link: function (scope, element, attrs) {
                element.bind('load', function () {
                    scope.$apply(attrs.imageonload);
                });
            }
        };
    });
    app.controller('controller', function ($scope, $http, $timeout) {

        $scope.selected = [];
        $scope.movie_detail_data = [];
        $scope.selected.page = 0;

        $http.get('/dl/movie/get_movies').success(
            function (data, status, headers, config) {
                $scope.movie_list_data = data;
                $scope.selected.movie = data.movies[0];
                $scope.get_movie_frame(0);
            }).error(function (data, status, headers, config) {
        });

        $scope.imdb_id = ''; //tt0398286
        "use strict";
        $("#wizard").smartWizard({
            selected: 0,
            theme: "default",
            transitionEffect: "",
            transitionSpeed: 0,
            useURLhash: !1,
            showStepURLhash: !1,
            toolbarSettings: {toolbarPosition: "bottom"}
        });

        $("#wizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection) {
            // return confirm("Do you want to leave the step "+stepNumber+"?");
            if (stepNumber == 0) {
                $http.get('http://www.omdbapi.com/?i=' + $scope.imdb_id + '&apikey=277d2395').success(
                    function (data, status, headers, config) {
                        $scope.imdb_data = data;
                        // $scope.imdb_data.video_file = 'T2ngl3d-2010-720p-hdp0pc0rns.mkv'
                    }).error(function (data, status, headers, config) {
                });
            } else if (stepNumber == 1) {
                if ($scope.imdb_id.length > 0){
                    $http({
                        method: 'post',
                        url: '/dl/movie/save',
                        data: $scope.imdb_data
                    }).success(function (req) {
                        console.log(req);
                    })
                }
            }
        });
        App.init();

        $scope.on_image_loaded = function ($frame) {
            // console.log($annotation.id + ': x1=' + $annotation.x1);
            if ($frame.annotation != null){
                var id = $frame.id;
                var img_name = '' + id;
                $scope.draw(img_name,
                    $frame.annotation.w,
                    $frame.annotation.h,
                    $frame.annotation.x1,
                    $frame.annotation.y1,
                    $frame.annotation.x2,
                    $frame.annotation.y2);
            }
        };

        $scope.draw = function ($name, w, h, x1, y1, x2, y2) {

            var img = document.getElementById('card_' + $name);

            img.removeChild(img.childNodes[4]);

            var width = $('#img_' + $name).width();
            var height = $('#img_' + $name).height();

            // var info_height = $('#info_' + $name).height();

            var offsetx = 0;
            var offsety = 0;

            var cx = x1 * (width - offsetx) / w;
            var cy = y1 * (height - offsety) / h;
            var cw = (x2 - x1) * (width - offsetx) / w;
            var ch = (y2 - y1) * (height - offsety) / h;

            // var cx = x1;
            // var cy = y1;
            // var cw = (x2 - x1);
            // var ch = (y2 - y1);

            var canvas = document.createElement('canvas'); //Create a canvas element
            //Set canvas width/height
            // canvas.style.width = '100%';
            // canvas.style.height = '100%';
            //Set canvas drawing area width/height
            canvas.width = width;
            canvas.height = height;
            //Position canvas
            canvas.style.position = 'absolute';
            canvas.style.left = 0;
            canvas.style.top = 0;
            canvas.style.zIndex = 2;
            canvas.style.pointerEvents = 'none'; //Make sure you can click 'through' the canvas

            img.appendChild(canvas);
            // var img = $('#' + $name);
            // img.append(canvas); //Append canvas to body element
            var context = canvas.getContext('2d');
            //Draw rectangle
            context.strokeStyle = 'red';
            context.lineWidth = 1.5;
            // context.strokeRect(0, 0, width, height - offsety);
            context.strokeRect(cx, cy, cw - 1, ch - 1);
        };

        $scope.movie_list_click = function ($movie) {
            $scope.selected.movie = $movie;
            $scope.get_movie_frame(0);
        };

        $scope.movie_download = function ($movie) {
            window.open('http://192.168.1.55/movies/' + $movie.video_file);

        };

        $scope.get_movie_frame = function ($page) {
            $http.get('/dl/movie/get_key_frames/movie_id/' + $scope.selected.movie.id + '/page/' + $page).success(
                function (data, status, headers, config) {
                    $scope.data = data;
                    $scope.selected.page = $page;
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.on_frame_click = function ($frame) {
            $scope.edit_annotation = $frame.annotation;
            if ($scope.edit_annotation.id == -1){
                $scope.edit_annotation.new = true;
            }else{
                $scope.edit_annotation.new = false;
            }
            $scope.show_modal();
        };

        $scope.show_modal = function () {
            $('#addAnnotationModal').modal({
                backdrop: 'static',
                keyboard: false,
                'data-keyboard': false
            });
            $scope.draw_modal_image_selection();
        };

        $scope.draw_modal_image_selection = function () {
            var timer = $timeout(function () {
                $scope.draw_selection($scope.edit_annotation);
            }, 1000, true);
        };

        $scope.draw_selection = function ($annotaton) {
            var photo_id = '#photo';
            var width = $(photo_id).width();
            var height = $(photo_id).height();

            var _x1 = parseInt($annotaton.x1) * width / parseInt($annotaton.w);
            var _y1 = parseInt($annotaton.y1) * height / parseInt($annotaton.h);
            var _x2 = parseInt($annotaton.x2) * width / parseInt($annotaton.w);
            var _y2 = parseInt($annotaton.y2) * height / parseInt($annotaton.h);

            _x1 = _x1 < width ? parseInt(_x1) : width;
            _y1 = _y1 < height ? parseInt(_y1) : height;
            _x2 = _x2 < width ? parseInt(_x2) : width;
            _y2 = _y2 < height ? parseInt(_y2) : height;

            $(photo_id).imgAreaSelect({
                handles: true,
                fadeSpeed: 200,
                parent: '.modal-content',
                show: true,
                onSelectChange: $scope.preview,
                x1: _x1,
                y1: _y1,
                x2: _x2,
                y2: _y2
            });
        };

        $scope.reload_frames = function () {
            // $scope.annotations_data = null;
            $scope.get_movie_frame($scope.selected.page);
        };

        $scope.new_annotation_save_click = function(){
            $http({
                method:'post',
                url:'/dl/model/save',
                data: $scope.edit_annotation
            }).success(function(req){
                $('#addAnnotationModal').modal('hide');
                $scope.reload_frames();
            });
        };


        $scope.preview = function (img, selection) {
            if (!selection.width || !selection.height)
                return;
            var photo_id = '#photo';
            $scope.selection = selection;
            $(photo_id).data('selection', selection);
            var width = $(photo_id).width();
            var height = $(photo_id).height();
            $scope.edit_annotation.dirty = true;
            $scope.edit_annotation.x1 = parseInt(selection.x1 * parseInt($scope.edit_annotation.w) / width);
            $scope.edit_annotation.y1 = parseInt(selection.y1 * parseInt($scope.edit_annotation.h) / height);
            $scope.edit_annotation.x2 = parseInt(selection.x2 * parseInt($scope.edit_annotation.w) / width);
            $scope.edit_annotation.y2 = parseInt(selection.y2 * parseInt($scope.edit_annotation.h) / height);
            $scope.$apply();
            console.log(selection);
            // console.log($scope.edit_annotation);
        };
    });

</script>

</html>